---
layout: base
title: Events & Briefings
---
%body.commons
  #layout.layout-wide
    / Header Section
    %header.index_static
      .nav_logo.animated.fadeIn
        .container
          .row
            %nav.col-md-12
              %ul#menu.sf-menu
                %li 
                  %a{:href => "index.html#join"} Join Commons
                %li
                  %a{:href => "index.html#colleagues"} Participants
                %li 
                  %a{:href => "index.html#interests"} Interests
                %li
                  %a{:href => "briefings.html"} Events & Briefings
                %li
                  %a{:href => "quotes.html"} Supporting Quotes
      %section.content_info
        .bg_parallax.image_06_parallax
          %section.opacy_bg_05.paddings
            / Info Head Static
            .container
              .row
                .col-md-12
                  .logo.wow.fadeIn.delay
                    %a{:href => "index.html", :title => "Back to Home"}
                      %img.logo_img{:alt => "Logo", :src => "img/openshift_logo_horizontal_wht.svg", :style => "margin-bottom: 30px"}/
                  %h1.animated.fadeInDown.delay
                    Commons Events & Briefings
                  %p.animated.fadeInUp.delay
                    Join us at upcoming events and catch up on the ones you missed. 
      / End Info section Title
    / End Header Section
    / crumbs
    .crumbs.border_bottom
      .container
        .row
          .col-md-12
            %ul
              %li
                %a{:href => "index.html"} Home
              %li /
              %li
                %a{:href => "briefings.html"} Events & Briefings
    / End crumbs
    / Info title
    .row.info_title.wow.animated.fadeInUp
      .vertical_line
        .circle_bottom
      .info_vertical
        %h1
          Upcoming 
          %span Events
    / End Info title
    / End content info - Grey Section - works single
    %section.content_info
      / Info Resalt
      .info_resalt.borders
        .container
          .row
            / Description Work
            .col-md-4
              %h3.titles-span
                Join
                %span Great
                Sessions
              %p We're constantly planning new events for all types of interests. Each event is lead by an OpenShift expert and would love to answer any of your questions. 
              %ul.list
                %li
                  %i.fa.fa-check
                  OpenShift 3
                %li
                  %i.fa.fa-check
                  Operations
                %li
                  %i.fa.fa-check
                  DevOps
                %li
                  %i.fa.fa-check
                  Development
                %li
                  %i.fa.fa-check
                  Contributing
            / End Description Work
            .col-md-8
              / Calendar
              %script.ai1ec-widget-placeholder{"data-action" => "posterboard", "data-widget" => "ai1ec-superwidget"}
                (function(){var d=document,s=d.createElement('script'),
                i='ai1ec-script-sw';if(d.getElementById(i))return;s.async=1;
                s.id=i;s.src='http://live-timely-objzoywz.time.ly/?ai1ec_super_widget';
                d.getElementsByTagName('head')[0].appendChild(s);})();
              / End Calendar
      / End Info Resalt
    / End content info
    / Info title
    %section.content_info
      .row.info_title.wow.fadeInUp
        .vertical_line
          .circle_bottom
        .info_vertical.animated
          %h1
            Past
            %span Briefings
            Recordings
          %p Catch up on anything you might have missed.
        .container.wow.fadeInUp
          .col-sm-6.col-md-12
            .service-02
              .head-service-02
                %i.fa.fa-wrench
                %h3
                  %a{:href => "https://youtu.be/0n3QaO7tvRw"} Persistant Storage for Containerized Applications on OpenShift 
                  %span  by Steve Watt, Red Hat
              .caption-service-02
                %p In this OpenShift Commons Briefing, Steve Watt explains the ins and outs of deploying Storage platforms on OpenShift 3
  
            .service-02
              .head-service-02
                %i.fa.fa-wrench
                %h3
                  %a{:href => "https://youtu.be/4Yxv971Lwx4"} Securing your Java Applications on OpenShift 
                  %span  by Sid Shetye, Crypteron
              .caption-service-02
                %p In this OpenShift Commons Briefing, Crypteron's CTO Sid Shetye explains how to add regulatory compliant encryption to your Java applications on OpenShift.
  
            .service-02
              .head-service-02
                %i.fa.fa-gear
                %h3
                  %a{:href => "https://bluejeans.com/s/8HFC/"} Implementing Blue-Green and AB Deployments with OpenShift
                  %span  by Veer Muchandi, Red Hat
              .caption-service-02
                %p In this OpenShift Commons Briefing, Veer explains the basics doing B/G and AB deployments on OpenShift.
  
            .service-02
              .head-service-02
                %i.fa.fa-gear
                %h3
                  %a{:href => "https://youtu.be/wEL-HdoscXw"} Under the Hood: Integrating OpenShift 3 with F5
                  %span By Miciah Butler Masters and Mike Barrett, Red Hat
              .caption-service-02
                %p In this OpenShift Commons Briefing, Dan explains the basics for navigating the OpenShift 3 development tool chains to familiarize those wanting to contribute to the project with our tools.
            
            .service-02
              .head-service-02
                %i.fa.fa-exchange
                %h3
                  %a{:href => "https://bluejeans.com/s/8AAa/"} Navigating the OpenShift Community Toolchains: Trello, Jenkins and Github   
                  %span By Dan McPherson, Red Hat
              .caption-service-02
                %p In this OpenShift Commons Briefing, Dan explains the basics for navigating the OpenShift 3 development tool chains to familiarize those wanting to contribute to the project with our tools.
            
            .service-02
              .head-service-02
                %i.fa.fa-wrench
                %h3
                  %a{:href => "https://youtu.be/RMN-PB4McBY"} Cloudforms Operational Dashboard for OpenShift 3 and Kubernetes   
                  %span By Ju Lim and Serena Doyle, Red Hat
              .caption-service-02
                %p In this OpenShift Commons Briefing, Overview of the latest version of the Operational Dashboard for managing all the containerized workloads in OpenShift 3 and Kubernetes.
            
            .service-02
              .head-service-02
                %i.fa.fa-gear
                %h3
                  %a{:href => " https://youtu.be/PBlbKKvqYs4"} Handling Asynchronous Workloads on OpenShift 
                  %span By Ivan Dwyer, Iron.io
              .caption-service-02
                %p In this OpenShift Commons Briefing, Ivan Dwyer gives an overview of Asynchronous tasks and walks us thru how to use IronWorker and IronMQ to easily manage and scale asynchronous workloads on OpenShift.
            
            .service-02
              .head-service-02
                %i.fa.fa-wrench
                %h3
                  %a{:href => " https://youtu.be/x3pWaVyfO0c"} Using OpenShift as a Mobile Backend with Red Hat Mobile Application Platform 
                  %span By John Frizelle, Red Hat
              .caption-service-02
                %p In this OpenShift Commons Briefing, John Frizelle walks us thru the seamless integration of OpenShift and Red Hat Mobile Application Platform. A very accessible technical talk on the entire workflow from code to fully deployed mobile application.
            
            .service-02
              .head-service-02
                %i.fa.fa-gear
                %h3
                  %a{:href => "https://youtu.be/JOgG9C0doBE"} CI/CD Workflows on OpenShift with Shippable 
                  %span By Tom Trahan and Avi Cavale, Shippable
              .caption-service-02
                %p In this OpenShift Commons Briefing, Tom Trahan gives a great overview Shippable's CI/CD integration for OpenShift 3 with a technical deep dive demo, followed by Q/A with Avi Cavale, CTO Shippable.
            .service-02
              .head-service-02
                %i.fa.fa-wrench
                %h3
                  %a{:href => "https://youtu.be/Z08FEd2r458"} OpenShift V3 Beta 4 Traing on Operation Workflow 
                  %span By  Erik Jacobs, Red Hat
              .caption-service-02
                %p In this OpenShift Commons Briefing, Hugo Rivero, Manager, Ecosystem Technology Certification and Deliver at Red Hat walks us thru the work-flow of ensuring your containerized app is enterprise-ready.

            .service-02
              .head-service-02
                %i.fa.fa-gear
                %h3
                  %a{:href => "https://youtu.be/FuBRdsR14lc"} How To Get Your Containerized Apps Enterprise-Ready & Red Hat Certified
                  %span By  Hugo Rivero, Red Hat
              .caption-service-02
                %p In this OpenShift Commons Briefing, Hugo Rivero, Manager, Ecosystem Technology Certification and Deliver at Red Hat walks us thru the work-flow of ensuring your containerized app is enterprise-ready.

            .service-02
              .head-service-02
                %i.fa.fa-exchange
                %h3
                  %a{:href => "https://youtu.be/aTO4-OYme-Y"} Metering MicroServices on OpenShift 3
                  %span By  Delano Seymour, CTO 6Fusion
              .caption-service-02
                %p In this OpenShift Commons Briefing, 6Fusion CTO Delano Seymour discussed how to Meter MicroServices on OpenShift 3 

            .service-02
              .head-service-02
                %i.fa.fa-gear
                %h3
                  %a{:href => "https://youtu.be/WYUsuHHDn2w"} OpenShift V3 Beta 3 Training Session 
                  %span By Erik Jacobs (Red Hat) 
              .caption-service-02
                %p In this OpenShift V3 Beta 3 Training Briefing, Red Hat's Erik Jacobs explains the Developer Workflows for both CLI and Console.

            .service-02
              .head-service-02
                %i.fa.fa-exchange
                %h3
                  %a{:href => "http://youtu.be/NufEwYn1t8c"} Continuous Development with JRebel on OpenShift 
                  %span By Adam Koblentz (ZeroTurnAround) & Arun Gupta (Red Hat)
              .caption-service-02
                %p ZeroTurnaround's Adam Koblentz & Red Hat's Arun Gupta give explain how to do Continuous Development with JRebel on OpenShift.

            .service-02
              .head-service-02
                %i.fa.fa-wrench
                %h3
                  %a{:href => " https://youtu.be/R5eHPk9YcRA"} OpenShift Commons Briefing: Scheduling Pods for High Availability
                  %span By Abhishek Gupta (Red Hat) 
              .caption-service-02
                %p Red Hat's Abhishek Gupta deep dives into the Scheduler, explains the ins and outs of High Availability in OpenShift V3.

            .service-02
              .head-service-02
                %i.fa.fa-exchange
                %h3
                  %a{:href => "http://youtu.be/awYJ0UYynuo"} OpenShift Commons Briefing: OpenShift V3 and Project Atomic
                  %span By Mike McGrath (Red Hat)
              .caption-service-02
                %p Red Hat's Mike McGrath dives into the basics of Project Atomic and discusses how it's being leveraged in OpenShift V3.

            .service-02
              .head-service-02
                %i.fa.fa-wrench
                %h3
                  %a{:href => "http://youtu.be/-I0hzuZc1jQ"} OpenShift Commons Briefing: OpenShift and Monitoring Lessons Learned at OpenShift Online
                  %span By Thomas Wiest (Red Hat)
              .caption-service-02
                %p Red Hat's Thomas Wiest dives deep into OpenShift Online's approach to monitoring, discusses use of Zabbix, Puppet, Ansible and tell us where all the skeletons & scripts are hidden.
 
            .service-02
              .head-service-02
                %i.fa.fa-exchange
                %h3
                  %a{:href => "http://youtu.be/wjWgVApNbQA"} OpenShift Commons Briefing: OpenShift V3 Features Update
                  %span By Joe Fernandes
              .caption-service-02
                %p In the past, we’ve talked  a lot about what’s under the hood of  the OpenShift 3 platform, in this briefing Joe Fernandes talks a more about specific features you should expect to see for both Developers and Administrators and answers questions on the upcoming release.
 
            .service-02
              .head-service-02
                %i.fa.fa-gear
                %h3
                  %a{:href => "http://youtu.be/RfiWPYg9unY"} OpenShift Commons Briefing: Storage and OpenShift V3
                  %span By Mark Turansky
              .caption-service-02
                %p OpenShift's Mark Turansky discusses the technical design and details around Storage in OpenShift 3
            .service-02
              .head-service-02
                %i.fa.fa-exchange
                %h3
                  %a{:href => "http://youtu.be/HMiuJdY3Hbg"} OpenShift Commons Briefing: Networking and OpenShift V3
                  %span By Clayton Coleman
              .caption-service-02
                %p OpenShift's Clayton Coleman discusses some of the technical details around networking in OpenShift 3
            .service-02
              .head-service-02
                %i.fa.fa-gear
                %h3
                  %a{:href => "http://youtu.be/yQoYBS0daeM"} OpenShift Commons Briefing: Ops Lessons Learned at OpenShift Online 
                  %span By Adam Miller
              .caption-service-02
                %p OpenShift's Adam Miller walks us through how OpenShift does Operations.
            .service-02
              .head-service-02
                %i.fa.fa-wrench
                %h3
                  %a{:href => "http://youtu.be/N4lu2DhSI5Q"} OpenShift Commons Briefing: OpenShift V3 release
                  %span By Mike Barrett
              .caption-service-02
                %p OpenShift Product Manager Mike Barrett goes over Commons and how you can get involved with OpenShift V3
            .service-02
              .head-service-02
                %i.fa.fa-lightbulb-o
                %h3
                  %a{:href => "http://youtu.be/wkIscpV7e3k"} OpenShift Commons Briefing: OpenShift on OpenStack at Cisco
                  %span By Daneyon Hansen
              .caption-service-02
                %p Daneyon Hansen talks about his experience deploying and contributing to OpenShift on OpenStack at Cisco.
            .service-02
              .head-service-02
                %i.fa.fa-code-fork
                %h3
                  %a{:href => "http://youtu.be/kfC3pyS1_S8"} OpenShift Commons Briefing: Java EE Workflows on OpenShift with Arun Gupta (Red Hat)
                  %span By Arun Gupta
              .caption-service-02
                %p Director of Developer Advocacy at Red Hat Arun Gupta demonstrates some of the Java EE workflows on OpenShift.
      .vertical_line
    / End Info title
