---
layout: base
---
%meta{:content => "5; url=index.html", "http-equiv" => "REFRESH"}/
%head
  %title OpenShift Commons
%body.commons
  #layout.layout-wide
    %section.content_info
      .bg_parallax.image_06_parallax
        %section.opacy_bg_05.paddings
          / Info Head Static
          .container
            .row
              .col-md-12
                .logo.wow.fadeIn.delay
                  %a{:href => "index.html", :title => "Back to Home"}
                    %img.logo_img{:alt => "Logo", :src => "img/openshift_logo_horizontal_wht.svg", :style => "margin-bottom: 30px"}/
                .text-center
                  %h1.animated.fadeInDown.delay
                    Thank you for joining
                  %p.animated.fadeInUp.delay
                    Someone will be in touch with you shortly. 
    / Info title
    %section.content_info#join
      #try.info_title.wow.fadeInDown
        %i.fa.fa-users.right
        .vertical_line
          .circle_bottom
        .info_vertical.animated
          %h3
            Hang tight, you'll be automatically redirected back to the main page in just a few seconds.