---
layout: base
title: OpenShift Commons
---
%meta{:content => "5; url=index.html", "http-equiv" => "REFRESH"}/
%body.commons
  #layout.layout-wide
    %section.content_info
      .bg_parallax.image_06_parallax
        %section.opacy_bg_05.paddings
          / Info Head Static
          .container
            .row
              .col-md-12
                .logo.wow.fadeIn.delay
                  %a{:href => "index.html", :title => "Back to Home"}
                    %img.logo_img{:alt => "Logo", :src => "img/openshift_logo_horizontal_wht.svg", :style => "margin-bottom: 30px"}/
                .text-center
                  %h1.animated.fadeInDown.delay
                    Thank you for joining
                  %p.animated.fadeInUp.delay
                    Someone will be in touch with you shortly. 
    / Info title
    %section.content_info#join
      #try.info_title.wow.fadeInDown
        %i.fa.fa-users.right
        .vertical_line
          .circle_bottom
        .info_vertical.animated
          %h3
            Hang tight, you'll be automatically redirected back to the main page in just a few seconds.
  / Google AdWords Conversion Tracking, Join Commons, Twitter Conversion Tracking
  :plain
    <script type="text/javascript">
    /* <![CDATA[ */
    var google_conversion_id = 1007064360;
    var google_conversion_language = "en";
    var google_conversion_format = "3";
    var google_conversion_color = "ffffff";
    var google_conversion_label = "ylyYCP_2_VkQqKqa4AM";
    var google_remarketing_only = false;
    /* ]]> */
    </script>
    <script type="text/javascript" src="//www.googleadservices.com/pagead/conversion.js">
    </script>
    <noscript>
    <div style="display:inline;">
    <img height="1" width="1" style="border-style:none;" alt="" src="//www.googleadservices.com/pagead/conversion/1007064360/?value=0&amp;label=ylyYCP_2_VkQqKqa4AM&amp;guid=ON&amp;script=0"/>
    </div>
    </noscript>
    <script src="//platform.twitter.com/oct.js" type="text/javascript"></script>
    <script type="text/javascript">twttr.conversion.trackPid('ntuvu', { tw_sale_amount: 0, tw_order_quantity: 0 });</script>
    <noscript>
    <img height="1" width="1" style="display:none;" alt="" src="https://analytics.twitter.com/i/adsct?txn_id=ntuvu&p_id=Twitter&tw_sale_amount=0&tw_order_quantity=0" />
    <img height="1" width="1" style="display:none;" alt="" src="//t.co/i/adsct?txn_id=ntuvu&p_id=Twitter&tw_sale_amount=0&tw_order_quantity=0" />
    </noscript>
