!!!
%html{:lang => "en"}
  %head
    / Basic
    %meta{:charset => "utf-8"}/
    %title Jekas  - Software, Studio and Corporate Responsive Template
    %meta{:content => "HTML5 Template", :name => "keywords"}/
    %meta{:content => "Jekas is a Software, Studio and Corporate Responsive Template", :name => "description"}/
    %meta{:content => "iwthemes.com", :name => "author"}/
    / Mobile Metas
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}/
    / Theme CSS
    %link{:href => "css/style.css", :media => "screen", :rel => "stylesheet"}/
    / Responsive CSS
    %link{:href => "css/theme-responsive.css", :media => "screen", :rel => "stylesheet"}/
    / Skins Theme
    %link.skin_color{:href => "#", :media => "screen", :rel => "stylesheet"}/
    / Favicons
    %link{:href => "img/icons/favicon.ico", :rel => "shortcut icon"}/
    %link{:href => "img/icons/apple-touch-icon.png", :rel => "apple-touch-icon"}/
    %link{:href => "img/icons/apple-touch-icon-72x72.png", :rel => "apple-touch-icon", :sizes => "72x72"}/
    %link{:href => "img/icons/apple-touch-icon-114x114.png", :rel => "apple-touch-icon", :sizes => "114x114"}/
    /[if IE]
      <link rel="stylesheet" href="css/ie/ie.css">
    /[if lte IE 8]
      <script src="js/responsive/html5shiv.js"></script>
      <script src="js/responsive/respond.js"></script>
  %body
    / Theme-options
    #theme-options
      .openclose
      .title
        %span THEME OPTIONS
        %p Choose a combination of predefined colors here. Here are some examples. You can create any additional number on your backend theme, also can choose the background you want and four differents layouts.
      %span SKINS VERSION
      %ul.layout-style
        %li.light.active Light Skin
        %li.dark Dark Skin
      %span SKINS COLOR
      %ul#colorchanger
        %li
          %a.colorbox.red{:href => "?theme=red", :title => "Red Skin"}
        %li
          %a.colorbox.blue{:href => "?theme=blue", :title => "Blue Skin"}
        %li
          %a.colorbox.yellow{:href => "?theme=yellow", :title => "Yellow Skin"}
        %li
          %a.colorbox.green{:href => "?theme=green", :title => "Green Skin"}
        %li
          %a.colorbox.orange{:href => "?theme=orange", :title => "Orange Skin"}
        %li
          %a.colorbox.purple{:href => "?theme=purple", :title => "Purple Skin"}
        %li
          %a.colorbox.pink{:href => "?theme=pink", :title => "Pink Skin"}
        %li
          %a.colorbox.cocoa{:href => "?theme=cocoa", :title => "Cocoa Skin"}
        %li
          %a.colorbox.suelte{:href => "?theme=suelte", :title => "Suelte Skin"}
        %li
          %a.colorbox.grey{:href => "?theme=grey", :title => "grey Skin"}
      %span LAYOUT STYLE
      %ul.layout-style
        %li.wide.active Wide
        %li.boxed Boxed
        %li.boxed-margin.full Boxed Margin
      .patterns
        %span BACKGROUND PATTERNS
        %ul.backgrounds
          %li.bgnone{:title => "None - Default"}
          %li.bg1
          %li.bg2
          %li.bg3
          %li.bg4
          %li.bg5
          %li.bg6
          %li.bg7
          %li.bg8
          %li.bg9
          %li.bg10
          %li.bg11
          %li.bg12
          %li.bg13
          %li.bg14
          %li.bg15
          %li.bg16
          %li.bg17
          %li.bg18
          %li.bg19
          %li.bg20
          %li.bg21
          %li.bg22
          %li.bg23
          %li.bg24
          %li.bg25
          %li.bg26
    / End Theme-options
    / layout
    #layout.layout-wide
      / Header Section
      %header.section_title
        / nav_logo Section
        .nav_logo.animated.fadeInDown
          .container
            .row
              / Logo
              .col-md-3.logo
                %a{:href => "index.html", :title => "Back to Home"}
                  %img.logo_img{:alt => "Logo", :src => "img/logo.png"}/
              / End Logo
              / Nav
              %nav.col-md-9
                / Menu
                %ul#menu.sf-menu
                  %li
                    %a{:href => "index.html"} HOME
                    %ul
                      %li
                        %a{:href => "index.html"} Creative
                      %li
                        %a{:href => "index-corporate.html"} Corporate
                      %li
                        %a{:href => "index-business.html"} Business
                      %li
                        %a{:href => "index-portfolio.html"} Portfolio
                      %li
                        %a{:href => "index-one-page.html"} One Page Theme
                      %li
                        %a{:href => "index-landing.html"} Landing Page
                  %li
                    %a{:href => "page-about-01.html"} ABOUT
                    %ul
                      %li
                        %a{:href => "page-about-01.html"} About 01
                      %li
                        %a{:href => "page-about-02.html"} About 02
                      %li
                        %a{:href => "page-about-me.html"} About Me
                      %li
                        %a{:href => "page-about-team.html"} About Team
                  %li
                    %a{:href => "page-services-01.html"} SERVICES
                    %ul
                      %li
                        %a{:href => "page-services-01.html"} Services 01
                      %li
                        %a{:href => "page-services-02.html"} Services 02
                      %li
                        %a{:href => "page-services-03.html"} Services 03
                      %li
                        %a{:href => "page-services-options.html"} Services Options
                  %li
                    %a{:href => "work-2-columns.html"} WORKS
                    %ul
                      %li
                        %a{:href => "work-2-columns.html"} Work 2 Columns
                      %li
                        %a{:href => "work-3-columns.html"} Work 3 Columns
                      %li
                        %a{:href => "work-4-columns.html"} Work 4 Columns
                      %li
                        %a{:href => "single-work.html"} Single Work
                  %li
                    %a{:href => "#"} FEATURES
                    %ul
                      %li
                        %a{:href => "page-sections-content.html"} Sections background
                      %li
                        %a{:href => "#"} Pages
                        %ul
                          %li.selected
                            %a{:href => "page-full-width.html"} Full Width
                          %li
                            %a{:href => "page-left-sidebar.html"} Left Sidebar
                          %li
                            %a{:href => "page-right-sidebar.html"} Right Sidebar
                          %li
                            %a{:href => "page-404.html"} 404 Page
                          %li
                            %a{:href => "page-faq.html"} FAQ
                      %li
                        %a{:href => "#"} Sections Titles
                        %ul
                          %li
                            %a{:href => "page-services-01.html"} Option 01
                          %li
                            %a{:href => "page-services-02.html"} Option 02
                          %li
                            %a{:href => "page-services-03.html"} Option 03
                      %li
                        %a{:href => "feature-table-pricing.html"} Pricing Tables
                      %li
                        %a{:href => "feature-grid.html"} Grind System
                      %li
                        %a{:href => "feature-typograpy.html"} Tipograpy
                      %li
                        %a{:href => "feature-icons.html"} Icons
                      %li
                        %a{:href => "feature-elements.html"} Elements
                  %li
                    %a{:href => "page-blog-01.html"} BLOG
                    %ul
                      %li
                        %a{:href => "page-blog-01.html"} Blog Post 01
                      %li
                        %a{:href => "page-blog-02.html"} Blog Post 02
                      %li
                        %a{:href => "single-post.html"} Single Page Post
                  %li
                    %a{:href => "page-contact-02.html"} CONTACT
                    %ul
                      %li
                        %a{:href => "page-contact-01.html"} Contact 01
                      %li
                        %a{:href => "page-contact-02.html"} Contact 02
                / End Menu
              / End Nav
        / End nav_logo Section
        / Info section Title
        .container
          .row.animated.fadeInUp.delay1
            .col-md-5
              %h1 Page Full widht
            .col-md-7
              %p Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac.
        / End Info section Title
      / End Header Section
      / crumbs
      .crumbs.border_bottom
        .container
          .row
            .col-md-12
              %ul
                %li
                  %a{:href => "index.html"} Home
                %li /
                %li Features
                %li /
                %li Pages
                %li /
                %li Page Full width
      / End crumbs
      / End content info - White Section
      %section.content_info
        / Info Resalt
        .paddings
          .container.wow.fadeInUp
            .row
              .col-md-12
                %p Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo. Quisque sit amet est et sapien ullamcorper pharetra. Vestibulum erat wisi, condimentum sed, commodo vitae, ornare sit amet, wisi. Aenean fermentum, elit eget tincidunt condimentum, eros ipsum rutrum orci, sagittis tempus lacus enim ac dui. Donec non enim in turpis pulvinar facilisis. Ut felis. Praesent dapibus, neque id cursus faucibus, tortor neque egestas augue, eu vulputate magna eros eu erat. Aliquam erat volutpat. Nam dui mi, tincidunt quis, accumsan porttitor, facilisis luctus, metus
              .col-md-4
                %img.img-responsive{:alt => "", :src => "img/gallery/1.jpg"}/
              .col-md-8
                %p Pellentesque habitant morbi tristique orper pharetra. Vestibulum erat wisi, condimentum sed, commodo vitae, ornare sit amet, wisi. Aenean fermentum, elit eget tincidu senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper.
                %p Aenean ultricies mi vitae est. Mauris placerat eleifend leo. Quisque sit amet est et sapien Aenean fermentum, elit eget tincidunt condimentum, eros ipsum rutrum orci, sagittis tempus lacus enim ac dui. Donec non enim in turpis pulvinar facilisis. Ut felis. Praesent dapibus, neque id cursus faucibus, tortor neque egestas augue, eu vulputate magna eros eu erat. Aliquam erat volutpat. Nam dui mi, tincidunt quis, accumsan porttitor, facilisis luctus, metus
              .col-md-12
                %p Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo. Quisque sit amet est et sapien ullamcorper pharetra. Vestibulum erat wisi, condimentum sed, commodo vitae, ornare sit amet, wisi. Aenean fermentum, elit eget tincidunt condimentum, eros ipsum rutrum orci, sagittis tempus lacus enim ac dui. Donec non enim in turpis pulvinar facilisis. Ut felis. Praesent dapibus, neque id cursus faucibus, tortor neque egestas augue, eu vulputate magna eros eu erat. Aliquam erat volutpat. Nam dui mi, tincidunt quis, accumsan porttitor, facilisis luctus, metus
              .col-md-8
                %p Pellentesque habitant morbi tristique orper pharetra. Vestibulum erat wisi, condimentum sed, commodo vitae, ornare sit amet, wisi. Aenean fermentum, elit eget tincidu senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper.
                %p Aenean ultricies mi vitae est. Mauris placerat eleifend leo. Quisque sit amet est et sapien Aenean fermentum, elit eget tincidunt condimentum, eros ipsum rutrum orci, sagittis tempus lacus enim ac dui. Donec non enim in turpis pulvinar facilisis. Ut felis. Praesent dapibus, neque id cursus faucibus, tortor neque egestas augue, eu vulputate magna eros eu erat. Aliquam erat volutpat. Nam dui mi, tincidunt quis, accumsan porttitor, facilisis luctus, metus
              .col-md-4
                %img.img-responsive{:alt => "", :src => "img/gallery/2.jpg"}/
        / End Info Resalt
      / End content info - White Section
      / footer
      %footer.footer_top
        .container
          .row
            / Social Section
            .col-md-2
              %h3 FOLLOW US
              %ul.social
                %li.facebook
                  %span
                    %i.fa.fa-facebook
                  %a{:href => "#"} Facebook
                %li.twitter
                  %span
                    %i.fa.fa-twitter
                  %a{:href => "#"} Twitter
                %li.github
                  %span
                    %i.fa.fa-github
                  %a{:href => "#"} Github
                %li.linkedin
                  %span
                    %i.fa.fa-linkedin
                  %a{:href => "#"} Linkedin
            / End Social Section
            / Recent links
            .col-md-2
              %h3 TWITTER FEED
              .twitts
            / End Recent links
            / Recent Links
            .col-md-2
              %h3 RECENT LINKS
              %ul
                %li
                  %i.fa.fa-check
                  %a{:href => "#"} Work
                %li
                  %i.fa.fa-check
                  %a{:href => "#"} About Us
                %li
                  %i.fa.fa-check
                  %a{:href => "#"} Services
                %li
                  %i.fa.fa-check
                  %a{:href => "#"} Contact Us
            / End Recent Links
            / Newsletter
            .col-md-3
              %h3 NEWSLETTER SIGN UP
              %p Enter your e-mail and subscribe to our newsletter.
              %form#newsletterForm.newsletterForm{:action => "php/mailchip/newsletter-subscribe.php"}
                .input-group
                  %span.input-group-addon
                    %i.fa.fa-envelope
                  %input.form-control{:name => "email", :placeholder => "Email Address", :required => "required", :type => "email"}/
                  %span.input-group-btn
                    %button.btn.btn-primary{:name => "subscribe", :type => "submit"} Go!
              #result-newsletter
            / end Newsletter
            / Contact Us
            .col-md-3
              %h3 CONTACT US
              %ul.contact_footer
                %li
                  %i.fa.fa-envelope
                  %a{:href => "#"} example@example.com
                %li
                  %i.fa.fa-headphones
                  %a{:href => "#"} 55-5698-4589
                %li.location
                  %i.fa.fa-home
                  %a{:href => "#"} Av new stret - New York
            / Contact Us
      / End footer
      / footer
      %footer.coopring
        %p &copy; 2014 Jekas. All Rights Reserved.
      / End footer
    / End layout
    / ======================= JQuery libs ===========================
    / jQuery local
    %script{:src => "js/jquery.js", :type => "text/javascript"}
    / Nav
    %script{:src => "js/nav/tinynav.js", :type => "text/javascript"}
    %script{:src => "js/nav/superfish.js", :type => "text/javascript"}
    %script{:src => "js/nav/hoverIntent.js", :type => "text/javascript"}
    %script{:src => "js/nav/jquery.sticky.js", :type => "text/javascript"}
    / Totop
    %script{:src => "js/totop/jquery.ui.totop.js", :type => "text/javascript"}
    / Slide Revolution
    %script{:src => "js/rs-plugin/js/jquery.themepunch.tools.min.js", :type => "text/javascript"}
    %script{:src => "js/rs-plugin/js/jquery.themepunch.revolution.min.js", :type => "text/javascript"}
    / owl-carousel
    %script{:src => "js/carousel/owl.carousel.js", :type => "text/javascript"}
    / Ligbox
    %script{:src => "js/fancybox/jquery.fancybox.pack.js", :type => "text/javascript"}
    / Gallery Grid
    %script{:src => "js/gallery/modernizr.custom.26633.js", :type => "text/javascript"}
    %script{:src => "js/gallery/jquery.gridrotator.js", :type => "text/javascript"}
    / Minislider Team
    %script{:src => "js/team/modernizr.custom.63321.js", :type => "text/javascript"}
    %script{:src => "js/team/jquery.catslider.js", :type => "text/javascript"}
    / Filters
    %script{:src => "js/filters/jquery.isotope.js", :type => "text/javascript"}
    / Theme Options
    %script{:src => "js/theme-options/theme-options.js", :type => "text/javascript"}
    %script{:src => "js/theme-options/jquery.cookies.js", :type => "text/javascript"}
    / Twitter Feed
    %script{:src => "js/twitter/jquery.tweet.js", :type => "text/javascript"}
    / WOW-master
    %script{:src => "js/animations/wow.min.js", :type => "text/javascript"}
    / Parallax
    %script{:src => "js/parallax/jquery.inview.js", :type => "text/javascript"}
    %script{:src => "js/parallax/nbw-parallax.js", :type => "text/javascript"}
    / Bootstrap.js
    %script{:src => "js/bootstrap/bootstrap.js", :type => "text/javascript"}
    / fUNCTIONS
    %script{:src => "js/main.js", :type => "text/javascript"}
    / ======================= End JQuery libs ===========================
