<footer>
  <div class="container">
    <div class="row">
      <!-- Social Section -->
      <div class="col-md-4 col-sm-12">
        <a href="https://www.redhat.com/">
          <img alt="Red Hat" src="https://assets.openshift.net/app/assets/redhat.svg">
        </a>
      </div>
      <div class="col-md-4 col-sm-12 text-center">
        <a href="https://hub.openshift.com/quickstarts/92-do-it-yourself-0-1" title="Powered by OpenShift Online with the DIY Cartridge">
          <img alt="Powered by OpenShift Online" src="https://www.openshift.com/sites/default/files/images/powered-transparent-white.png">
        </a>
      </div>
      <div class="col-md-4 col-sm-12">
        <ul class="social">
          <li class="twitter">
            <a href="https://twitter.com/openshift">
              <span>
                <i class="fa fa-twitter-square"></i>
              </span>
            </a>
          </li>
          <li class="github">
            <a href="https://github.com/openshift/origin-server">
              <span>
                <i class="fa fa-github"></i>
              </span>
            </a>
          </li>
          <li class="google">
            <a href="https://plus.google.com/communities/114361859072744017486">
              <span>
                <i class="fa fa-google-plus-square"></i>
              </span>
            </a>
          </li>
          <li class="facebook">
            <a href="https://www.facebook.com/openshift">
              <span>
                <i class="fa fa-facebook-square"></i>
              </span>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="text-center">
    <p>
      <a href="http://www.redhat.com/en/about/terms-use">http://www.redhat.com/en/about/terms-use</a>
    </p>
  </div>
</footer>
