<footer>
  <div class="container">
    <div class="row">
      <!-- Social Section -->
      <div class="col-md-4 col-sm-12">
        <a href="https://www.redhat.com/">
          <img alt="Red Hat" src="https://assets.openshift.com/hubfs/images/logos/Logo-RedHat-A-Reverse-RGB.svg" style="width: 128px;">
        </a>
      </div>
      <div class="col-md-4 col-sm-12 text-center">
        <a href="https://www.openshift.com/" title="Powered by OpenShift Online">
          <img alt="Powered by OpenShift Online" src="https://www.openshift.com/images/logos/powered_by_openshift_reverse.png">
        </a>
      </div>
      <div class="col-md-4 col-sm-12">
        <ul class="social">
          <li class="twitter">
            <a href="https://twitter.com/openshift">
              <span>
                <i class="fa fa-twitter-square"></i>
              </span>
            </a>
          </li>
          <li class="github">
            <a href="https://github.com/openshift/origin-server">
              <span>
                <i class="fa fa-github"></i>
              </span>
            </a>
          </li>
          <li class="google">
            <a href="https://plus.google.com/communities/114361859072744017486">
              <span>
                <i class="fa fa-google-plus-square"></i>
              </span>
            </a>
          </li>
          <li class="facebook">
            <a href="https://www.facebook.com/openshift">
              <span>
                <i class="fa fa-facebook-square"></i>
              </span>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="text-center">
    <p>
      <a href="http://www.redhat.com/en/about/terms-use">Terms of use</a>
    </p>
  </div>
</footer>
