<div class="nav_logo animated fadeIn">
  <div class="container">
    <div class="row">
      <nav class="col-md-12">
        <ul class="sf-menu" id="menu">
          <li>
            <a href="#join">Join Commons</a>
          </li>
          <li>
            <a href="#colleagues">Participants</a>
          </li>
          <li>
            <a href="#interests">Interests</a>
          </li>
          <li>
            <a href="/briefings.html">Events &amp; Briefings</a>
          </li>
          <li>
            <a href="/quotes.html">Supporting Quotes</a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</div>