<div class="nav_logo animated fadeIn">
  <div class="container">
    <div class="row">
      <nav class="col-md-12">
        <ul class="sf-menu" id="menu">
          <li>
            <a href="/index.html#join">Join Commons</a>
          </li>
          <li>
            <a href="/index.html#colleagues">Participants</a>
          </li>
          <li>
            <a href="/index.html#interests">Interests</a>
          </li>
          <li>
            <a href="/briefings.html">Events &amp; Briefings</a>
          </li>
          <li>Gathering
            <ul>
              <li>
              	<a href="https://meeting-reg.com/redhat/2016/public/openshiftgathering" target="_blank">Events</a>
              </li>
              <li>
                <a href="/videos.html">Videos</a>
              </li>
            </ul>
          </li>
          <li>
            <a href="/quotes.html">Supporting Quotes</a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</div>
