<div class="nav_logo animated fadeIn">
  <div class="container">
    <div class="row">
      <nav class="col-md-12">
        <ul class="sf-menu" id="menu">
          <li>
            <a href="/index.html#join">Join Commons</a>
          </li>
          <li>
            <a href="/index.html#interests">Interests</a>
          </li>
          <li>
            <a href="/index.html#blog">Blog</a>
          </li>
          <li>
            <a href="/index.html#colleagues">Participants</a>
          </li>
          <li>Briefings
            <ul>
              <li>
                <%# This text is override on Mobile in main.js %>
                <a href="/events.html">Upcoming Events</a>
              </li>
              <li>
                <%# This text is override on Mobile in main.js %>
                <a href="/briefings.html">Past Videos</a>
              </li>
            </ul>
          </li>
          <li>Gatherings
            <ul>
              <li>
                <%# This text is overridden on Mobile in main.js %>
                <a href="http://openshiftgathering.com/openshiftgathering/copenhagen" target="_blank">Copenhagen - May 1</a>
              </li>
              <li>
                <%# This text is override on Mobile in main.js %>
                <a href="http://openshiftgathering.com/openshiftgathering/sanfran" target="_blank">San Francisco - May 7</a>
              </li>
              <li>
                <%# This text is override on Mobile in main.js %>
                <a href="/videos.html">Past Videos</a>
              </li>
            </ul>
          </li>
          <li>
            <a href="/testimonials.html">Testimonials</a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</div>
