---
title: OpenShift Gathering Videos
description:  OpenShift Commons Gathering Videos
---

<% content_for :header do %>
<h1 class="animated fadeInDown delay">
  OpenShift Commons Gathering Videos
</h1>
<p class="animated fadeInUp delay">
  Watch videos from OpenShift Commons Gathering events
</p>
<% end %>

<div class="crumbs border_bottom">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <ul>
          <li>
            <a href="/index.html">Home</a>
          </li>
          <li>/</li>
          <li>
            <a href="/gatherings/videos.html">Gathering Videos</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>

<div class="row info_title wow animated fadeInUp">
  <div class="vertical_line">
    <div class="circle_bottom"></div>
  </div>
  <div class="info_vertical">
    <h1>
      OpenShift Commons
      <span>Gathering Videos</span>
    </h1>
  </div>
</div>

<section class="content_info">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <%= partial "videos", :object => data.gathering_videos.videos.sort_by { | gathering | gathering[:gathering_date] }.reverse! %>
      </div>
    </div>
  </div>
</section>

<% content_for :javascript do %>
  $(document).ready(function() {
    if ($('.videos.active>.video').length) {
      $('.videos.active>.video').matchHeight();
      $('.videos.active>.video>.title').matchHeight();
    } else {
      // assume no categorized videos -> no active bootstrap tab
      $('.videos>.video').matchHeight();
      $('.videos>.video>.title').matchHeight();
    }
  });
<% end %>
