<% content_for :javascript do %>
$(document).ready(function () {
  displayBlogPosts("https://blog.openshift.com/tag/v3/feed/", 10, $("#blog-feed-sig"));
});
<% end %>

<div id="blog-feed-sig">
  <div class="row">
    <div class="col-md-12 text-center">
      <i class="fa fa-cog fa-spin fa-2x" aria-hidden="true"></i>
    </div>
  </div>
</div>
