---
title: DevSecOps Special Interest Group
description: Collaborate and share information around best practices for DevSecOps.
---

<% content_for :header do %>
<h1 class="animated fadeInDown delay">
  DevSecOps
</h1>
<p class="animated fadeInUp delay">
  The principal purpose of the DevSecOps Interest Group is to collaborate and share information around best practices and lessons learned for the DevSecOps community.
</p>
<% end %>

<div class="crumbs border_bottom">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <ul>
          <li>
            <a href="/index.html">Home</a>
          </li>
          <li>/</li>
          <li>
            <a href="/sig/DevSecOps.html">DevSecOps SIG</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>

<section class="content_info" id="join">
  <div class="info_title wow fadeInDown" id="try">
    <i class="fa fa-users right"></i>
    <div class="vertical_line">
      <div class="circle_bottom"></div>
    </div>
    <div class="info_vertical animated">
      <h1>
        Join theDevSecOps
        <br>
        <span>Special Interest Group</span>
      </h1>
    </div>
    <div class="padding_bottom">
      <div class="container wow fadeInUp animated">
        <div class="row">
          <div class="col-xs-12 col-sm-12 col-md-6 col-md-offset-3 text-center">
            <%= partial "forms/sig_universal" %>
          </div>
        </div>
      </div>
      <div id="result-newsletter"></div>
    </div>
  </div>
</section>
<section class="content_info">
  <div class="info_resalt borders">
    <div class="container">
      <div class="row">
        <div class="col-md-12 text-center">
          <div class="info_vertical animated">
            <h1>DevSecOps Briefings</h1>
            <p>
              Red Hat's John Willis gives a brief introdcution to DevSecOps.
            </p>
          </div>
        </div>
      </div>
      <div class="row padding-top">
        <div class="col-md-6">
          <div class="embed-responsive embed-responsive-16by9">
            <iframe allowfullscreen="" class="embed-responsive-item" frameborder="0" src="https://www.youtube.com/embed/RDVUZeiavFQ" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          </div>
        </div>
        <div class="col-md-6">
          <h3>DecSecOps Principles</h3>
          <ul class="list" style="margin-bottom: 20px">
            <li>
              <i class="fa fa-check"></i>
              <b>Customer Focused Mindset</a>
            </li>
            <li>
              <i class="fa fa-check"></i>
              <b>Scale Security</b>
            </li>
            <li>
              <i class="fa fa-check"></i>
              <b>Objective Criteria</b>
            </li>
            <li>
              <i class="fa fa-check"></i>
              <b>Proactive Hunting</b>
            </li>
            <li>
              <i class="fa fa-check"></i>
              <b>Continuous Detection and Response</b>
            </li>
          </ul>
          <h5>About DevSeCops</h5>
          <p>DevSecOps is as much about operations as it is about development. This Special Interest Group is way for like-minded engineers to discuss and share information to aid in security on OpenShift.</p>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="content_info" id="colleagues">
  <div class="vertical_line">
    <div class="circle_bottom"></div>
  </div>
  <div class="row info_title wow fadeInUp">
    <div class="info_vertical animated">
      <h1>
        DevSecOps
        <span>Articles</span>
      </h1>
    </div>
  </div>
</section>

<div class="container wow fadeInUp">
  <div class="row-fluid">
    <%= partial "sig/devsecops_articles" %>

    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
      <div class="service-03">
        <div class="head-service-03">
          <i class="fa fa-code-fork"></i>
          <h3>
            <a href="https://www.devsecops.org/" title="Read the DevSecOps Manifesto">Check out the DevSecOps Manifesto</a>
          </h3>
        </div>
        <div class="caption-service-03">
          <p>
            <a href="https://www.devsecops.org/">Find out more about DevSeCOps here</a>
          </p>
        </div>
      </div>
    </div>
    
    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
      <div class="service-03">
        <div class="head-service-03">
          <i class="fa fa-code-fork"></i>
          <h3>
            <a href="https://www.slideshare.net/littleidea/devsecops-the-end-of-the-beginning-austin" title="Slides from DevSECOps talk by Andrew Clay Schafer">DevSecOps: The End of The Beginning - Andrew Clay Schafer @ DevOpsDay Austin 2019 </a>
          </h3>
        </div>
        <div class="caption-service-03">
          <p>
            Learn how to scaffold a web application, run it locally in a container, push the scaffolded code to a private Git repository and then deploy it to a Red Hat OpenShift on IBM Cloud cluster. Additionally, you will learn how expose the app on an OpenShift route, bind a custom domain, monitor the health of the environment, and scale the application.
            <a href="https://cloud.ibm.com/docs/tutorials?topic=solution-tutorials-scalable-webapp-openshift">Find out more</a>
          </p>
        </div>
      </div>
      </div>
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
      <div class="service-03">
        <div class="head-service-03">
          <i class="fa fa-code-fork"></i>
          <h3>
            <a href="https://groups.google.com/forum/#!forum/devsecops" title="ggroup">Join the DevSecOps Google Group</a>
          </h3>
        </div>
        <div class="caption-service-03">
          <p>
            DevSecOps practioners focus on how to incorporate Security within Agile and DevOps practices. To get us there, we need to have conversations around existing solutions and best practices that enable DevSecOps.....
            <a href="https://groups.google.com/forum/#!forum/devsecops">Join the Conversation</a>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
