---
title: DevSecOps Special Interest Group
description: Collaborate and share information around best practices for DevSecOps.
---

<% content_for :header do %>
<h1 class="animated fadeInDown delay">
  DevSecOps
</h1>
<p class="animated fadeInUp delay">
  The principal purpose of the DevSecOpsl Interest Group is to collaborate and share information around best practices and lessons learned for the DevSecOps community.
</p>
<% end %>

<div class="crumbs border_bottom">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <ul>
          <li>
            <a href="/index.html">Home</a>
          </li>
          <li>/</li>
          <li>
            <a href="/sig/DevSecOps.html">DevSecOps SIG</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>

<section class="content_info" id="join">
  <div class="info_title wow fadeInDown" id="try">
    <i class="fa fa-users right"></i>
    <div class="vertical_line">
      <div class="circle_bottom"></div>
    </div>
    <div class="info_vertical animated">
      <h1>
        Join theDevSecOps
        <br>
        <span>Special Interest Group</span>
      </h1>
    </div>
    <div class="padding_bottom">
      <div class="container wow fadeInUp animated">
        <div class="row">
          <div class="col-xs-12 col-sm-12 col-md-6 col-md-offset-3 text-center">
            <%= partial "forms/sig_universal" %>
          </div>
        </div>
      </div>
      <div id="result-newsletter"></div>
    </div>
  </div>
</section>
<section class="content_info">
  <div class="info_resalt borders">
    <div class="container">
      <div class="row">
        <div class="col-md-12 text-center">
          <div class="info_vertical animated">
            <h1>DevSecOps Briefings</h1>
            <p>
              Red Hat's John Wills gives a brief introdcution to DevSecOps.
            </p>
          </div>
        </div>
      </div>
      <div class="row padding-top">
        <div class="col-md-6">
          <div class="embed-responsive embed-responsive-16by9">
            <iframe allowfullscreen="" class="embed-responsive-item" frameborder="0" src="<iframe width="560" height="315" src="https://www.youtube.com/embed/RDVUZeiavFQ" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>"></iframe>
          </div>
        </div>
        <div class="col-md-6">
          <h3>Topics Covered</h3>
          <ul class="list" style="margin-bottom: 20px">
            <li>
              <i class="fa fa-check"></i>
              <b>Data Collection and Visualization</a>
            </li>
            <li>
              <i class="fa fa-check"></i>
              <b>Discover and Understand Patterns</b>
            </li>
            <li>
              <i class="fa fa-check"></i>
              <b>Predicting the Future</b>
            </li>
            <li>
              <i class="fa fa-check"></i>
              <b>Root Cause Analysis</v>
            </li>
          </ul>
          <h5>About DevSeCOps</h5>
          <p>DevSecOpss is as much about operations as it is about development. This Special Interest Group is way for like-minded engineers to discuss and share information to aid in security on OpenShift.</p>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="content_info" id="colleagues">
  <div class="vertical_line">
    <div class="circle_bottom"></div>
  </div>
  <div class="row info_title wow fadeInUp">
    <div class="info_vertical animated">
      <h1>
        DevSecOps
        <span>Articles</span>
      </h1>
    </div>
  </div>
</section>

<div class="container wow fadeInUp">
  <div class="row-fluid">
    <%= partial "sig/ibmcloud_articles" %>

    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
      <div class="service-03">
        <div class="head-service-03">
          <i class="fa fa-code-fork"></i>
          <h3>
            <a href="https://cloud.ibm.com/docs/openshift?topic=openshift-openshift_tutorial" title="Creating a Red Hat OpenShift on IBM Cloud cluster">Tutorial: Creating a Red Hat OpenShift on IBM Cloud cluster</a>
          </h3>
        </div>
        <div class="caption-service-03">
          <p>
            <a href="https://cloud.ibm.com/docs/openshift?topic=openshift-openshift_tutorial">Find out more</a>
          </p>
        </div>
      </div>
    </div>
    
    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
      <div class="service-03">
        <div class="head-service-03">
          <i class="fa fa-code-fork"></i>
          <h3>
            <a href="https://cloud.ibm.com/docs/tutorials?topic=solution-tutorials-scalable-webapp-openshift" title="Scalable web application on OpenShift on IBM Cloud">Tutorial: Scalable web application on OpenShift on IBM Cloud</a>
          </h3>
        </div>
        <div class="caption-service-03">
          <p>
            Learn how to scaffold a web application, run it locally in a container, push the scaffolded code to a private Git repository and then deploy it to a Red Hat OpenShift on IBM Cloud cluster. Additionally, you will learn how expose the app on an OpenShift route, bind a custom domain, monitor the health of the environment, and scale the application.
            <a href="https://cloud.ibm.com/docs/tutorials?topic=solution-tutorials-scalable-webapp-openshift">Find out more</a>
          </p>
        </div>
      </div>
      </div>
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
      <div class="service-03">
        <div class="head-service-03">
          <i class="fa fa-code-fork"></i>
          <h3>
            <a href="https://groups.google.com/forum/#!forum/openshiftonibmcloud" title="ggroup">Join the OpenShift on IBM Cloud Google Group</a>
          </h3>
        </div>
        <div class="caption-service-03">
          <p>
            AIOps will lead to consistent AI-backed automation in order to enable customers for a driverless operation of their hybrid cloud infrastructure and service stack.  To get us there, we need to have conversations around existing solutions and best practices that enable AIOps.....
            <a href="https://groups.google.com/forum/#!forum/aiops">Join the Conversation/a>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
