---
title: OpenShift 3 Special Interest Group
description: The principal purpose of the OpenShift 3 Special Interest Group is to collaborate and discuss items for the OpenShift 3 platform. 
---

<% content_for :header do %>
<h1 class="animated fadeInDown delay">
  OpenShift 3
</h1>
<p class="animated fadeInUp delay">
  The principal purpose of the OpenShift 3 Special Interest Group is to collaborate and discuss items for the OpenShift 3 platform.
</p>
<% end %>


<div class="crumbs border_bottom">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <ul>
          <li>
            <a href="/index.html">Home</a>
          </li>
          <li>/</li>
          <li>
            <a href="/sig/Openshiftv3.html">OpenShift 3</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>

<section class="content_info" id="join">
  <div class="info_title wow fadeInDown" id="try">
    <i class="fa fa-users right"></i>
    <div class="vertical_line">
      <div class="circle_bottom"></div>
    </div>
    <div class="info_vertical animated">
      <h1>
        Join the OpenShift 3
        <br>
        <span>Special Interest Group</span>
      </h1>
    </div>
    <div class="padding_bottom">
      <div class="container wow fadeInUp animated">
        <div class="row">
          <div class="col-xs-12 col-sm-12 col-md-6 col-md-offset-3 text-center">
            <%= partial "forms/sig_openshift3" %>
          </div>
        </div>
        <div id="result-newsletter"></div>
      </div>
    </div>
  </div>
</section>
<section class="content_info">
  <div class="info_resalt borders">
    <div class="container">
      <div class="row">
        <div class="col-md-12 text-center">
          <div class="info_vertical animated">
            <h1>OpenShift 3 Commons Briefing</h1>
            <p>
              OpenShift Product Manager
              <a href="https://blog.openshift.com/author/mikebarrett/">Mike Barrett</a>
              goes over Commons and how you can get involved with OpenShift 3.
            </p>
          </div>
        </div>
      </div>
      <div class="row padding-top">
        <div class="col-md-6">
          <div class="embed-responsive embed-responsive-16by9">
            <iframe allowfullscreen="" class="embed-responsive-item" frameborder="0" src="//www.youtube.com/embed/N4lu2DhSI5Q"></iframe>
          </div>
        </div>
        <div class="col-md-6">
          <h3>Topics Covered</h3>
          <ul class="list" style="margin-bottom: 20px">
            <li>
              <i class="fa fa-check"></i>
              <a href="https://github.com/openshift/origin#getting-started">Install</a>
            </li>
            <li>
              <i class="fa fa-check"></i>
              <a href="https://blog.openshift.com/builds-deployments-services-v3/">Deploy</a>
            </li>
            <li>
              <i class="fa fa-check"></i>
              <a href="https://github.com/openshift/origin#start-developing">Contribute</a>
            </li>
            <li>
              <i class="fa fa-check"></i>
              <a href="https://blog.openshift.com/microservices-containers-paas-devops/">Microservices</a>
            </li>
            <li>
              <i class="fa fa-check"></i>
              <a href="https://github.com/openshift/origin">Open Source</a>
            </li>
          </ul>
          <h5>About OpenShift 3</h5>
          <p>OpenShift 3 is built around a core of application containers powered by Docker, with orchestration and management provided by Kubernetes, on a foundation of Atomic and Enterprise Linux.</p>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="content_info" id="colleagues">
  <div class="vertical_line">
    <div class="circle_bottom"></div>
  </div>
  <div class="row info_title wow fadeInUp">
    <div class="info_vertical animated">
      <h1>
        OpenShift 3
        <span>Articles</span>
      </h1>
    </div>
  </div>
  <div class="container wow fadeInUp">
    <div class="row-fluid">
      <%= partial "sig/v3_articles" %>
    </div>
  </div>
</section>