---
title: OpenShift on IBM Cloud Special Interest Group
description: Collaborate and share information around best practices for operating and maintaining OpenShift environments on IBM Cloud.
---

<% content_for :header do %>
<h1 class="animated fadeInDown delay">
  OpenShift on IBM Cloud
</h1>
<p class="animated fadeInUp delay">
  The principal purpose of the OpenShift on IBM Cloud Special Interest Group is to collaborate and share information around best practices for operating and maintaining OpenShift environments on IBM Cloud.
</p>
<% end %>

<div class="crumbs border_bottom">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <ul>
          <li>
            <a href="/index.html">Home</a>
          </li>
          <li>/</li>
          <li>
            <a href="/sig/OpenShiftOnIBMCloud.html">OpenShift on IBM Cloud SIG</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>

<section class="content_info" id="join">
  <div class="info_title wow fadeInDown" id="try">
    <i class="fa fa-users right"></i>
    <div class="vertical_line">
      <div class="circle_bottom"></div>
    </div>
    <div class="info_vertical animated">
      <h1>
        Join the OpenShift on IBM Cloud
        <br>
        <span>Special Interest Group</span>
      </h1>
    </div>
    <div class="padding_bottom">
      <div class="container wow fadeInUp animated">
        <div class="row">
          <div class="col-xs-12 col-sm-12 col-md-6 col-md-offset-3 text-center">
            <%= partial "forms/sig_universal" %>
          </div>
        </div>
      </div>
      <div id="result-newsletter"></div>
    </div>
  </div>
</section>
<section class="content_info">
  <div class="info_resalt borders">
    <div class="container">
      <div class="row">
        <div class="col-md-12 text-center">
          <div class="info_vertical animated">
            <h1>OpenShift on IBM Cloud Commons Briefings</h1>
            <p>
              IBM's Sai Vennam gives a guided tour of OpenShift on IBM Cloud.
            </p>
          </div>
        </div>
      </div>
      <div class="row padding-top">
        <div class="col-md-6">
          <div class="embed-responsive embed-responsive-16by9">
            <iframe allowfullscreen="" allow="accelerometer; encrypted-media; gyroscope;" class="embed-responsive-item" frameborder="0" src="https://www.youtube.com/embed/l4Vrj7mkxhQ"></iframe>
          </div>
        </div>
        <div class="col-md-6">
          <h3>Topics Covered</h3>
          <ul class="list" style="margin-bottom: 20px">
            <li>
              <i class="fa fa-check"></i>
              <b>How to leverage OpenShift tools and APIs for a single, consistent experience across hybrid environments or different cloud providers.</a>
            </li>
            <li>
              <i class="fa fa-check"></i>
              <b>How to protect cluster infrastructure, isolate compute resources, encrypt data, and ensure security compliance.</b>
            </li>
            <li>
              <i class="fa fa-check"></i>
              <b>How to quickly set up a CI/CD with Jenkins or deploy a variety of apps in a guided experience that's fully integrated into your OpenShift cluster.</b>
            </li>
            <li>
              <i class="fa fa-check"></i>
              <b>How to use built-in services for monitoring, logging, load-balancing, storage, and security..</b>
            </li>
            <li>
              <i class="fa fa-check"></i>
              <b>How to deploy and scale workloads with a managed master that is automatically spread across zones within a region for high availability.</v>
            </li>
          </ul>
          <h5>About OpenShift on IBM Cloud</h5>
          <p>This Special Interest Group is for like-minded IT practitioners, engineers and developers to discuss and share information about deploying and maintaining OpenShift at scale on IBM Cloud.</p>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="content_info" id="colleagues">
  <div class="vertical_line">
    <div class="circle_bottom"></div>
  </div>
  <div class="row info_title wow fadeInUp">
    <div class="info_vertical animated">
      <h1>
        OpenShift on IBM Cloud
        <span>Articles</span>
      </h1>
    </div>
  </div>
</section>
<section class="content_info">
  <div class="info_resalt borders">
    <div class="container">
      <div class="row">
        <div class="col-md-12 text-center">
          <div class="info_vertical animated">
            <h1>Test your container skills with PODESCAPE</h1>
            <p>
              Check PodEscape running on OpenShift on IBM Cloud.
            </p>
          </div>
        </div>
      </div>
      <div class="row padding-top">
        <div class="col-md-6">
          <div class="embed-responsive embed-responsive-16by9">
            <iframe allowfullscreen="" allow="accelerometer; encrypted-media; gyroscope;" class="embed-responsive-item" frameborder="0" src="https://podescape.io/"></iframe>
          </div>
        </div>
        <div class="col-md-6">
          <h3>Check it out!</h3>
          <p>Test your container skills with PODESCAPE, an endless runner of a pod trying to escape from a project being deleted. Compete with fellow devs for the highest score. And don't be fooled by the retro feel...with the git link you can tinker under the hood with OpenShift on IBM Cloud, MongoDB, and OpenShift Container Storage.
          </p>
          <h5>About OpenShift on IBM Cloud</h5>
          <p>This Special Interest Group is for like-minded IT practitioners, engineers and developers to discuss and share information about deploying and maintaining OpenShift at scale on IBM Cloud.</p>
        </div>
      </div>
    </div>
  </div>
</section>
<div class="container wow fadeInUp">
  <div class="row-fluid">
    <%= partial("sig/rss_articles", :locals => { :tag => "ibm-cloud", :article_limit => 4}) %>

    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
      <div class="service-03">
        <div class="head-service-03">
          <i class="fa fa-code-fork"></i>
          <h3>
            <a href="https://cloud.ibm.com/docs/openshift?topic=openshift-openshift_tutorial" title="Creating a Red Hat OpenShift on IBM Cloud cluster">Tutorial: Creating a Red Hat OpenShift on IBM Cloud cluster</a>
          </h3>
        </div>
        <div class="caption-service-03">
          <p>
            <a href="https://cloud.ibm.com/docs/openshift?topic=openshift-openshift_tutorial">Find out more</a>
          </p>
        </div>
      </div>
    </div>
    
    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
      <div class="service-03">
        <div class="head-service-03">
          <i class="fa fa-code-fork"></i>
          <h3>
            <a href="https://cloud.ibm.com/docs/tutorials?topic=solution-tutorials-scalable-webapp-openshift" title="Scalable web application on OpenShift on IBM Cloud">Tutorial: Scalable web application on OpenShift on IBM Cloud</a>
          </h3>
        </div>
        <div class="caption-service-03">
          <p>
            Learn how to scaffold a web application, run it locally in a container, push the scaffolded code to a private Git repository and then deploy it to a Red Hat OpenShift on IBM Cloud cluster. Additionally, you will learn how expose the app on an OpenShift route, bind a custom domain, monitor the health of the environment, and scale the application.
            <a href="https://cloud.ibm.com/docs/tutorials?topic=solution-tutorials-scalable-webapp-openshift">Find out more</a>
          </p>
        </div>
      </div>
      </div>
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
      <div class="service-03">
        <div class="head-service-03">
          <i class="fa fa-code-fork"></i>
          <h3>
            <a href="https://groups.google.com/forum/#!forum/openshiftonibmcloud" title="ggroup">Join the OpenShift on IBM Cloud Google Group</a>
          </h3>
        </div>
        <div class="caption-service-03">
          <p>
            OpenShift on IBM Cloud SIG  focus is on sharing solutions and best practices for Day 1 Build/Day 2 Operations with OpenShift environments on IBM Cloud. To get us there, we need to collaborate and share use cases, so 
            <a href="https://groups.google.com/forum/#!forum/openshiftonibmcloud">Join the Conversation today!</a>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
