---
title: OpenShift Image Builders Special Interest Group
description: The principal purpose of the OpenShift 3 Special Interest Group is to collaborate and discuss Best Practices for building and maintaining Images for use with OpenShift.
---

<% content_for :header do %>
<h1 class="animated fadeInDown delay">
  OpenShift Image Builders
</h1>
<p class="animated fadeInUp delay">
  The principal purpose of the OpenShift Image Builders Special Interest Group is to collaborate and discuss Best Practices for building and maintaining Images for use with OpenShift.
</p>
<% end %>


<div class="crumbs border_bottom">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <ul>
          <li>
            <a href="/index.html">Home</a>
          </li>
          <li>/</li>
          <li>
            <a href="/sig/OpenshiftImageBuilders.html">OpenShift Image Builders SIG</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>

<section class="content_info" id="join">
  <div class="info_title wow fadeInDown" id="try">
    <i class="fa fa-users right"></i>
    <div class="vertical_line">
      <div class="circle_bottom"></div>
    </div>
    <div class="info_vertical animated">
      <h1>
        Join the OpenShift
        <br>
        <span>Image Builders Special Interest Group</span>
      </h1>
    </div>
    <div class="padding_bottom">
      <div class="container wow fadeInUp animated">
        <div class="row">
          <div class="col-xs-12 col-sm-12 col-md-6 col-md-offset-3 text-center">
            <%= partial "forms/sig_universal" %>
          </div>
        </div>
        <div id="result-newsletter"></div>
      </div>
    </div>
  </div>
</section>
<hr style="margin:0;">
<section class="content_info" id="colleagues">
  <div class="vertical_line">
    <div class="circle_bottom"></div>
  </div>
  <div class="row info_title wow fadeInUp">
    <div class="info_vertical animated">
      <h1>
        OpenShift 3
        <span>Articles</span>
      </h1>
    </div>
  </div>
  <div class="container wow fadeInUp">
    <div class="row-fluid">
      <%= partial "sig/v3_articles" %>
    </div>
  </div>
</section>
