---
title: Operator Framework
description: The Operator Framework is an open source toolkit to manage Kubernetes native applications, called Operators, in an effective, automated, and scalable way. This SIG will discuss, develop and disseminate best practices for building and managing Operators.
---

<% content_for :header do %>
<h1 class="animated fadeInDown delay">
  Operator Framework
</h1>
<p class="animated fadeInUp delay">
  An Operator is a method of packaging, deploying and managing a Kubernetes application. A Kubernetes application is an 
  application that is both deployed on Kubernetes and managed using the Kubernetes APIs and kubectl tooling. To be able 
  to make the most of Kubernetes, you need a set of cohesive APIs to extend in order to service and manage your applications
  that run on Kubernetes. You can think of Operators as the runtime that manages this type of application on Kubernetes.
</p>
<% end %>

<div class="crumbs border_bottom">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <ul>
          <li>
            <a href="/index.html">Home</a>
          </li>
          <li>/</li>
          <li>
            <a href="/sig/OpenshiftOperators.html">Operator Framework</a>
          </li>
          <li>/</li>
          <li>
            <a href="/sig/operators.html">Community Operators</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>

<section class="content_info" id="join">
  <div class="info_title wow fadeInDown" id="try">
    <i class="fa fa-users right"></i>
    <div class="vertical_line">
      <div class="circle_bottom"></div>
    </div>
    <div class="info_vertical animated">
      <h1>
        Join the Operator Framework
        <br>
        <span>Special Interest Group</span>
      </h1>
      <p class="animated fadeInUp delay">
       The principal purpose of the Operator Framework SIG is to discuss, develop and disseminate best practices for building Operators, using Operators and help grow
       the Operator ecosystem by engaging and learning from Operator authors, users and contributors to the Operator Framework itself.
      </p>
    </div>
    <div class="padding_bottom">
      <div class="container wow fadeInUp animated">
        <div class="row">
          <div class="col-xs-12 col-sm-12 col-md-6 col-md-offset-3 text-center">
            <%= partial "forms/sig_universal" %>
          </div>
        </div>
        <div id="result-newsletter"></div>
      </div>
    </div>
  </div>
</section>

<section id="community-operators" class="content_info">
  <div class="info_resalt borders">
    <div class="row info_title wow fadeInUp">
      <div class="info_vertical animated">
        <h1>
          Community
          <span>Operators</span>
        </h1>
      </div>
    </div>
    <div class="row">
      <div class="col-md-8 col-md-offset-2 col-xs-12">
        <%= partial "operators_carousel", :object => data.operators.vetted_operators %>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 col-md-6 col-md-offset-3 text-center">
        <%= link_to 'Find more Community Operators', 'operators.html', :class => 'list-link' %>
      </div>
    </div>
  </div>
</section>

<section class="content_info" id="colleagues">
  <div class="vertical_line">
    <div class="circle_bottom"></div>
  </div>
  <div class="row info_title wow fadeInUp">
    <div class="info_vertical animated">
      <h1>
        Operator Framework
        <span>Articles</span>
      </h1>
    </div>
  </div>
  <div class="container wow fadeInUp">
    <div class="row-fluid">
      <%= partial "sig/operators_articles" %>
    </div>
  </div>
</section>
