---
title: OpenShift Operations Special Interest Group
description: Collaborate and share information around best practices for operating and maintaining large scale OpenShift environments. 
---

<% content_for :header do %>
<h1 class="animated fadeInDown delay">
  OpenShift Ops
</h1>
<p class="animated fadeInUp delay">
  The principal purpose of the OpenShift Ops Special Interest Group is to collaborate and share information around best practices for operating and maintaining large scale OpenShift environments.
</p>
<% end %>

<div class="crumbs border_bottom">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <ul>
          <li>
            <a href="/index.html">Home</a>
          </li>
          <li>/</li>
          <li>
            <a href="/sig/Operations.html">OpenShift Ops</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>

<section class="content_info" id="join">
  <div class="info_title wow fadeInDown" id="try">
    <i class="fa fa-users right"></i>
    <div class="vertical_line">
      <div class="circle_bottom"></div>
    </div>
    <div class="info_vertical animated">
      <h1>
        Join the OpenShift Operations
        <br>
        <span>Special Interest Group</span>
      </h1>
    </div>
    <div class="padding_bottom">
      <div class="container wow fadeInUp animated">
        <div class="row">
          <div class="col-xs-12 col-sm-12 col-md-6 col-md-offset-3 text-center">
            <%= partial "forms/sig_operations" %>
          </div>
        </div>
      </div>
      <div id="result-newsletter"></div>
    </div>
  </div>
</section>
<section class="content_info">
  <div class="info_resalt borders">
    <div class="container">
      <div class="row">
        <div class="col-md-12 text-center">
          <div class="info_vertical animated">
            <h1>OpenShift Ops Commons Briefing</h1>
            <p>
              OpenShift's
              <a href="http://www.amazon.com/Implementing-OpenShift-Adam-Miller/dp/1782164723/">Adam Miller</a>
              walks us through how OpenShift does Operations.
            </p>
          </div>
        </div>
      </div>
      <div class="row padding-top">
        <div class="col-md-6">
          <div class="embed-responsive embed-responsive-16by9">
            <iframe allowfullscreen="" class="embed-responsive-item" frameborder="0" src="https://www.youtube.com/embed/yQoYBS0daeM"></iframe>
          </div>
        </div>
        <div class="col-md-6">
          <h3>Topics Covered</h3>
          <ul class="list" style="margin-bottom: 20px">
            <li>
              <i class="fa fa-check"></i>
              <a href="https://github.com/openshift/openshift_zabbix">Monitoring</a>
            </li>
            <li>
              <i class="fa fa-check"></i>
              <a href="https://github.com/openshift/puppet-openshift_origin">Deployment</a>
            </li>
            <li>
              <i class="fa fa-check"></i>
              <a href="https://www.openshift.com/blogs/automated-node-recovery-architecture">Architecture</a>
            </li>
          </ul>
          <h5>About OpenShift Operations</h5>
          <p>OpenShift is as much about operations as it is about development. This Special Interest Group is way for like-minded engineers to discuss and share information on deploying and maintaining OpenShift at scale.</p>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="content_info" id="colleagues">
  <div class="vertical_line">
    <div class="circle_bottom"></div>
  </div>
  <div class="row info_title wow fadeInUp">
    <div class="info_vertical animated">
      <h1>
        OpenShift Ops
        <span>Articles</span>
      </h1>
    </div>
  </div>
</section>
<div class="container wow fadeInUp">
  <div class="row-fluid">
    <%= partial "sig/ops_articles" %>
    
    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
      <div class="service-03">
        <div class="head-service-03">
          <i class="fa fa-code-fork"></i>
          <h3>
            <a href="https://github.com/openshift/openshift_zabbix" title="OpenShift Zabbix Monitoring Scripts">OpenShift Zabbix Monitoring Scripts</a>
          </h3>
        </div>
        <div class="caption-service-03">
          <p>
            This repository contains monitoring scripts and configuration files to enable monitoring an OpenShift installation with Zabbix...
            <a href="https://github.com/openshift/openshift_zabbix">Read More</a>
          </p>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
      <div class="service-03">
        <div class="head-service-03">
          <i class="fa fa-code-fork"></i>
          <h3>
            <a href="https://github.com/openshift/puppet-openshift_origin" title="OpenShift Puppet Modules">OpenShift Puppet Modules</a>
          </h3>
        </div>
        <div class="caption-service-03">
          <p>
            Puppet module to create OpenShift Brokers and Nodes. Can be used to create a full OpenShift Origin deployment...
            <a href="https://github.com/openshift/puppet-openshift_origin">Read More</a>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>