---
title: Community Operators
description:  A list of interesting community-created operators.
---

<% content_for :header do %>
<h1 class="animated fadeInDown delay">
  Community-created Operators
</h1>
<p class="animated fadeInUp delay">
  Take a few moments to learn what can these operators do for your systems deployed on OpenShift.
</p>
<% end %>

<div class="crumbs border_bottom">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <ul>
          <li>
            <a href="/index.html">Home</a>
          </li>
          <li>/</li>
          <li>
            <a href="/sig/OpenshiftOperators.html">Operator Framework SIG</a>
          </li>
          <li>/</li>
          <li>
            <a href="/sig/operators.html">Community Operators</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>

<div class="row info_title wow animated fadeInUp">
  <div class="vertical_line">
    <div class="circle_bottom"></div>
  </div>
  <div class="info_vertical">
    <h1>
      Community
      <span>Operators</span>
    </h1>
  </div>
</div>

<!-- List Participants -->
<section class="content_info">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="search">
          <input id="operator-search" placeholder="Search operators">
        </div>
        <ul class="operators list">
          <%= partial "operator_list", :collection => data.operators.vetted_operators.sort_by{ |op| op.title.downcase } %>
        </ul>
      </div>
    </div>
  </div>
</section>



</div>
</section>
