---
title: Quay Special Interest Group
description: Collaborate and share information around best practices for building, analyzing, distributing container images with Quay.
---

<% content_for :header do %>
<h1 class="animated fadeInDown delay">
  Quay
</h1>
<p class="animated fadeInUp delay">
  The principal purpose of the Quay Special Interest Group is to collaborate and share information around best practices for building, analyzing, distributing container images with Quay.
</p>
<% end %>

<div class="crumbs border_bottom">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <ul>
          <li>
            <a href="/index.html">Home</a>
          </li>
          <li>/</li>
          <li>
            <a href="/sig/Quay.html">Quay SIG</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>

<section class="content_info" id="join">
  <div class="info_title wow fadeInDown" id="try">
    <i class="fa fa-users right"></i>
    <div class="vertical_line">
      <div class="circle_bottom"></div>
    </div>
    <div class="info_vertical animated">
      <h1>
        Join the Quay 
        <br>
        <span>Special Interest Group</span>
      </h1>
    </div>
    <div class="padding_bottom">
      <div class="container wow fadeInUp animated">
        <div class="row">
          <div class="col-xs-12 col-sm-12 col-md-6 col-md-offset-3 text-center">
            <%= partial "forms/sig_universal" %>
          </div>
        </div>
      </div>
      <div id="result-newsletter"></div>
    </div>
  </div>
</section>
<section class="content_info">
  <div class="info_resalt borders">
    <div class="container">
      <div class="row">
        <div class="col-md-12 text-center">
          <div class="info_vertical animated">
            <h1>Quay Commons Briefings</h1>
            <p>
              Red Hat's Joey Schorr explains what Quay is.
            </p>
          </div>
        </div>
      </div>
      <div class="row padding-top">
        <div class="col-md-6">
          <div class="embed-responsive embed-responsive-16by9">
            <iframe allowfullscreen="" class="embed-responsive-item" frameborder="0" src="https://www.youtube.com/embed/GmmjpIoQ7k0"></iframe>
          </div>
        </div>
        <div class="col-md-6">
          <h3>Topics Covered</h3>
          <ul class="list" style="margin-bottom: 20px">
            <li>
              <i class="fa fa-check"></i>
              <b>Storing your containers securely</a>
            </li>
            <li>
              <i class="fa fa-check"></i>
              <b>Building & deploying new containers</b>
            </li>
            <li>
              <i class="fa fa-check"></i>
              <b>Automating Security Scanning</b>
            </li>
            <li>
              <i class="fa fa-check"></i>
              <b>What's Next for Quay</v>
            </li>
          </ul>
          <h5>About Quay</h5>
          <p>Built for storing container images, Quay offers visibility over images themselves. It can be integrated into your CI/CD pipelines and existing workflows using its API and other automation features. This release brings support for multiple architectures, Windows containers, and a Red Hat Enterprise Linux-based image to help users store, build, and deploy their images in a more secure way across diverse enterprise environments.</p>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="content_info" id="colleagues">
  <div class="vertical_line">
    <div class="circle_bottom"></div>
  </div>
  <div class="row info_title wow fadeInUp">
    <div class="info_vertical animated">
      <h1>
        Quay
        <span>Articles</span>
      </h1>
    </div>
  </div>
</section>
<div class="container wow fadeInUp">
  <div class="row-fluid">
    <%= partial "sig/quay_articles" %>

    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
      <div class="service-03">
        <div class="head-service-03">
          <i class="fa fa-code-fork"></i>
          <h3>
            <a href="https://www.youtube.com/watch?v=XpGOSo-2Vdo">Quay 3.0 - Configuration User Interface with Thomas McKay (Red Hat)</a>
          </h3>
        </div>
        <div class="caption-service-03">
          <p>
            Walk thru and demostration of the Quay 3.0 - Configuration User Interface with Thomas McKay (Red Hat)
          </p>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
      <div class="service-03">
        <div class="head-service-03">
          <i class="fa fa-code-fork"></i>
          <h3>
            <a href="https://youtu.be/lp05rkUJKOY" title="ARCANNA">Brandon Philips' Kubecon/NA 2017 Quay Keynote</a>
          </h3>
        </div>
        <div class="caption-service-03">
          <p>
            Brandon Philips' Kubecon/NA 2017 Keynote entitled "The Kubernetes Application Registry: Easily Deploying Complex Applications with CoreOS Quay"....
            <a href="https://youtu.be/lp05rkUJKOY">Watch the Video</a>
          </p>
        </div>
      </div>
      </div>
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
      <div class="service-03">
        <div class="head-service-03">
          <i class="fa fa-code-fork"></i>
          <h3>
            <a href="https://groups.google.com/forum/#!forum/quay" title="ggroup">Join the Quay Google Group</a>
          </h3>
        </div>
        <div class="caption-service-03">
          <p>
            Quay has been able to address the container registry needs of thousands customers across multiple sectors and a variety of sizes,  and look forward to working together to continue improving the product.  To get us there, we need to have conversations around existing use cases and share best practices and feedback that will help drive future development of Quay.....
            <a href="https://groups.google.com/forum/#!forum/aiops">Join the Conversation</a>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
