---
title: OpenShift AIOps Special Interest Group
description: Collaborate and share information around best practices for operating and maintaining OpenShift environments leveraging AI tools and techniques.
---

<% content_for :header do %>
<h1 class="animated fadeInDown delay">
  OpenShift AIOps
</h1>
<p class="animated fadeInUp delay">
  The principal purpose of the OpenShift AIOps Special Interest Group is to collaborate and share information around best practices for operating and maintaining OpenShift environments leveraging AI tools and techniques.
</p>
<% end %>

<div class="crumbs border_bottom">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <ul>
          <li>
            <a href="/index.html">Home</a>
          </li>
          <li>/</li>
          <li>
            <a href="/sig/AIOps.html">OpenShift AIOps SIG</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>

<section class="content_info" id="join">
  <div class="info_title wow fadeInDown" id="try">
    <i class="fa fa-users right"></i>
    <div class="vertical_line">
      <div class="circle_bottom"></div>
    </div>
    <div class="info_vertical animated">
      <h1>
        Join the OpenShift AIOps
        <br>
        <span>Special Interest Group</span>
      </h1>
    </div>
    <div class="padding_bottom">
      <div class="container wow fadeInUp animated">
        <div class="row">
          <div class="col-xs-12 col-sm-12 col-md-6 col-md-offset-3 text-center">
            <%= partial "forms/sig_universal" %>
          </div>
        </div>
      </div>
      <div id="result-newsletter"></div>
    </div>
  </div>
</section>
<section class="content_info">
  <div class="info_resalt borders">
    <div class="container">
      <div class="row">
        <div class="col-md-12 text-center">
          <div class="info_vertical animated">
            <h1>OpenShift AIOps Commons Briefings</h1>
            <p>
              Red Hat's Marcel Hild explains what AIOps is.
            </p>
          </div>
        </div>
      </div>
      <div class="row padding-top">
        <div class="col-md-6">
          <div class="embed-responsive embed-responsive-16by9">
            <iframe allowfullscreen="" class="embed-responsive-item" frameborder="0" src="https://www.youtube.com/embed/RofZnYlevX0"></iframe>
          </div>
        </div>
        <div class="col-md-6">
          <h3>Topics Covered</h3>
          <ul class="list" style="margin-bottom: 20px">
            <li>
              <i class="fa fa-check"></i>
              <b>Data Collection and Visualization</a>
            </li>
            <li>
              <i class="fa fa-check"></i>
              <b>Discover and Understand Patterns</b>
            </li>
            <li>
              <i class="fa fa-check"></i>
              <b>Predicting the Future</b>
            </li>
            <li>
              <i class="fa fa-check"></i>
              <b>Root Cause Analysis</v>
            </li>
          </ul>
          <h5>About OpenShift AIOps</h5>
          <p>AIOps is as much about operations as it is about development. This Special Interest Group is way for like-minded engineers to discuss and share information applying AI to aid in deploying and maintaining OpenShift at scale.</p>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="content_info" id="colleagues">
  <div class="vertical_line">
    <div class="circle_bottom"></div>
  </div>
  <div class="row info_title wow fadeInUp">
    <div class="info_vertical animated">
      <h1>
        OpenShift AIOps
        <span>Articles</span>
      </h1>
    </div>
  </div>
</section>
<div class="container wow fadeInUp">
  <div class="row-fluid">
    <%= partial "sig/ops_articles" %>

    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
      <div class="service-03">
        <div class="head-service-03">
          <i class="fa fa-code-fork"></i>
          <h3>
            <a href="https://events.linuxfoundation.org/wp-content/uploads/2017/12/AIOps-Anomaly-Detection-with-Prometheus-Marcel-Hild-Red-Hat.pdf" title="OpenShift Zabbix Monitoring Scripts">AIOps: Anomaly detection with Prometheus</a>
          </h3>
        </div>
        <div class="caption-service-03">
          <p>
            Spice up your Monitoring with AI using Prometheus
            <a href="https://youtu.be/27SmkF8YbZs">Watch the Video</a>
          </p>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
      <div class="service-03">
        <div class="head-service-03">
          <i class="fa fa-code-fork"></i>
          <h3>
            <a href="https://www.redhat-cloudstrategy.com/it-monitoring-is-terrible-we-can-fix-it-with-machine-learning/" title="ARCANNA">IT Monitoring is Terrible: We Can Fix It With Machine Learning</a>
          </h3>
        </div>
        <div class="caption-service-03">
          <p>
            In IT operations, we need to know when something isn’t working. But, humans are just bad at identifying anomalies over time....
            <a href="https://www.redhat-cloudstrategy.com/it-monitoring-is-terrible-we-can-fix-it-with-machine-learning/">Read More</a>
          </p>
        </div>
      </div>
      </div>
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
      <div class="service-03">
        <div class="head-service-03">
          <i class="fa fa-code-fork"></i>
          <h3>
            <a href="https://groups.google.com/forum/#!forum/aiops" title="ggroup">Join the AIOPs Google Group</a>
          </h3>
        </div>
        <div class="caption-service-03">
          <p>
            AIOps will lead to consistent AI-backed automation in order to enable customers for a driverless operation of their hybrid cloud infrastructure and service stack.  To get us there, we need to have conversations around existing solutions and best practices that enable AIOps.....
            <a href="https://groups.google.com/forum/#!forum/aiops">Join the Conversation/a>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
