/** Overrides to theme
	*******************************************************/
body {
	color: $text-color;
}

a {
	color: #069;
	&:hover {
		color: #069;
		text-decoration: underline;
	}
}

h2, h3 {
	font-weight: 300;
}

a.strong {
	font-weight: 500;
}

.sf-menu {
	padding-top: 0;
	padding-left: 0;
	float: left;
	> li {
		margin: 0 50px 0 0;
		> a {
			font-size: 18px;
			text-shadow: 1px 1px 1px rgba(0, 0, 0, .5);
		}
	}
}

/* ------------------------------------------------------------
Image: "photo-1422479516648-9b1f0b6e8da8" https://ununsplash.imgix.net/photo-1422479516648-9b1f0b6e8da8?q=75&fm=jpg&s=c5f2b3df2a4c71532b3b354b8766503c
Author: breather https://unsplash.com/breather
License: https://unsplash.com/license
---------------------------------------------------------------*/

.image_06_parallax{
	background-image: url("../img/parallax/commons-full-2.jpg");
	background-repeat: repeat-x;
}

.opacy_bg_02{
  background:rgba(0, 61, 110, 0.34);
  text-shadow: 1px 1px 0 rgba(0,0,0,.5);
   -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.opacy_bg_05{
  text-shadow: 1px 1px 0 rgba(0,0,0,.5);
   -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  z-index: 2;
  position: relative;
  height: auto;
  bottom: 0;
  left: 0;
  width: 100%;
}

.opacy_bg_03 {
	background-color: #EBF0F4;
	background-color:rgba(0, 61, 110, .07);
	border-top: 4px solid rgba(0, 61, 110, .1);
}

.opacy_bg_01 {
  background-color: #E0E2E4;
  z-index: 0;
}

.bg_parallax {
	background-size: initial;
	z-index: 2;
}

.index_static {
	 h1 {
		padding-top: 10px
	}
	p {
		text-align: left;
		margin: 0;
		font-size: 27px;
	}
}

.nav_logo {
	position: absolute;
	bottom: 0;
	background-color: rgba(0, 20, 37, .35);
	padding: 25px 0;
	.commons & {
  	background-color: rgba(17, 17, 17, 0.5);
	}
}

.delay {
	animation-delay:.5s;
	-webkit-animation-delay:.5s; /* Safari and Chrome */}

.caption-head {
	height: 180px;
	width: 180px;
	margin: 20px auto 20px auto;
}

h2.caption-title {
	padding-top: 0;
}

.vertical_line , .vertical_line .circle_top, .vertical_line .circle_bottom {
	background-color: #E5E7E8;
}

.info_vertical {
	margin: 10px auto 15px;
}

.info_title i.right, .info_title i.left {
	color: #EAECED;
}

.info_title i.right {
	top: 20px;
}

.info_title i.left {
	top: 5%;
}

.contributions .fadeInRight {
	text-align: center;
}

table.table.contributions {
	margin-top: 25px;
	th {
		font-weight: normal;
		text-align: center;
		border-top: 0;
	}
	td {
		text-align: center;
		border-color: #fff;
		border-color: rgba(255,255,255, .65);
	}
}

.fadeInRight i.fa.fa-github {
	font-size: 15em;
	opacity: 0.2;
}



.latest-news h3 {
	margin-bottom: 20px;
}
.service-02 {
	margin: 0 0 25px 0;
}

.service-process {
	background-image: none;
	position: relative;
}

footer {
	background-color: #1b2a38;
	h3 {
		border-bottom: 0;
	}
}

ul.social {
	li {
		display: inline;
		margin: 0 10px;
		&:hover {
			margin-left: 10px;
			span {
				background-color: transparent !important;
			}
		footer ul li a:hover {
		background-color: transparent !important;
		color: transparent;
			}
		}
		&.facebook:hover span i {
			color: #3B5998 !important;
		}
		&.twitter:hover span i {
			color: #3C8FC9 !important;
		}
		&.google:hover span i {
			color: #d73d32 !important;
		}
		&.github:hover span i {
			color: #000 !important;
		} 
	}
	span {
		background: transparent;
		i {
			padding: 4px;
			color: #ddd !important;
			font-size: 28px;
		}
	}
}

/* Services Option 03 ------------------------------------------*/

.service-03{
	margin: 20px 0;
	height: 200px;
}
.service-03 .head-service-03{
	margin-bottom: 15px;
}
.service-03 .head-service-03 i{
	font-size: 25px;
	line-height: 45px;
	float: left;
	margin-right: 20px;
	font-weight: lighter;
	width: 45px;
	height: 45px;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	border-radius: 6px;
	color: #CC0000;
	text-align: center;
}
.service-03  h3{
	font-weight: lighter;
	display: inline;
	font-size: 20px;
	padding: 0;
	line-height: 30px;
}
.service-03 h3 span{
	font-weight: lighter;
	display: block;
	font-size: 14px;
	padding: 0;
	line-height: 20px;
}
.hot-features img {
	margin-top: 12px;
	margin-bottom: -50px;
}
.info_skin_base .service-03 .head-service-03 i{
	background-color: #fff !important;
	color: #232323 !important;
}
.info_skin_base .service-03 h3 span{
	color: #fff !important;
}

/** New Styles
	*******************************************************/

.technology-section {
	padding: 10px 0 50px;
	text-align: center;
	.head-tech {
		text-align: center;
		margin-bottom: 20px;
	}
	ul {
		list-style: none;
		padding-left: 0;
	}
	.logo_tech {
		width: 250px;
	}
}


// /* Timeline
// 	*******************************************************/

.timeline-responsive {
	width: 100%;
	overflow-y: hidden;
	-ms-overflow-style: -ms-autohiding-scrollbar;
}
.timeline-responsive {
	min-height: .01%;
	overflow-x: auto;
}
  
#timeline {
  padding: 40px 0;
  list-style: none;
  color: #333;
  width: 100%;
  &:before {
		background-color: #8E959C;
		bottom: 125px;
		content: "";
		display: block;
		height: 2px;
		left: 0;
		right: 0;
		position: absolute;
	}
  li {
    padding-top: 12px;
    position: relative;
    width: 20%;
    float: left;
    label {
      max-width: 200px;
		  opacity: 1;
		  margin: 0;
		  position: absolute;
		  left: 0;
		  right: 0;
			font-weight: 400;
			font-size: 13px;
			line-height: normal;
		  span {
		    display: block;
		    padding-right: 5px;
			}
   	}
   	&.spotlight > label {
			font-size: 15px;
			color: #000;
		}
	}
}
.date {
  width: 100%;
  position: absolute;
  top: -100px;
  left: -17px;
  font-weight: 500;
  font-size: 14px;
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  display: block;
}
.circle {
  width: 12px;
  height: 12px;
  margin-left: -5px;
  background: #fff;
  border: 3px solid #54606A;
  border-radius: 50%;
  position: absolute;
  top: -11px;
  &.circle-big {
		top: -14px;
		width: 18px;
		height: 18px;
		border: 5px solid #DB212F;
	}
}


// Commons
// -------------------------------

// Participants
ul.participants {
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: center;

  li {
    display: inline-block;
    margin: 25px;
    width: 120px;
    vertical-align: middle;
  }

  a {
    position: relative;
    display: inline-block;

    img {
      max-width: 120px;
      max-height: 85px;
      transition: all .5s cubic-bezier(0.165, 0.840, 0.440, 1.000);
    }

    &:hover img{
      transform: scale(1.33);
    }
  }

}

@media (min-width: $screen-md-min) {
	.opacy_bg_02, .opacy_bg_05 {
		padding: 70px 0 130px;
	}

	.bg_parallax {
		background-position-x: 10% !important;
	}

	.service-process:before {
		background-image: url("../img/parallax/commons-full.jpg");
		background-position: inherit;
		background-repeat: no-repeat;
		background-size: contain;
		content: "";
		position: absolute;
		top: 0;
		left: 0px;
		display: block;
		width: 100%;
		height: 100%;
		opacity: .1;
	}
	#timeline .date {
		top: -120px;
	}
	ul.social {
		float: right;
	}
}

@media (max-width: 980px) {
	.tinynav {
		top: -7px;
		border-radius: 5px;
	}
	.nav_logo {
		background-color: transparent;
		top: 0;
		.commons & { background-color: transparent; }
	}
}

@media (max-width: $screen-sm-max) {
	.index_static {
		h1 {
			font-size: 34px;
			line-height: normal;
		}
		p {
			font-size: 21px;
			line-height: normal;
		}
	}

	.timeline-responsive {
		.opacy_bg_03 {
			min-width: 600px;
			#timeline {
				.date {
					top: -90px;
				}
			}
		}
	}

	.social {
		padding-top: 30px;
		li {
			margin: 0 15px;
		}
	}
}