<script>
  var submitted=false;
</script>
<iframe id="hidden_iframe" name="hidden_iframe" onload="if(submitted) {window.location='formsubmit.html';}" style="display:none;"></iframe>
<form action="https://docs.google.com/forms/d/1BbYOX7Zz9NgpqB7A5fzaFkp-qgJgLHjIpHwBH5LJ6Hk/formResponse" method="post" onsubmit="submitted=true;" target="hidden_iframe">
  <div class="form-group">
    First Name
    <input aria-label="First Name" class="form-control" dir="auto" id="entry_835193099" name="entry.835193099" required="" title="" type="text" value="">
  </div>
  <div class="form-group">
    Last Name
    <input aria-label="Last Name" class="form-control" dir="auto" id="entry_305079668" name="entry.305079668" required="" title="" type="text" value="">
  </div>
  <div class="form-group">
    Company Name
    <input aria-label="Company Name" class="form-control" dir="auto" id="entry_1187159420" name="entry.1187159420" required="" title="" type="text" value="">
  </div>
  <div class="form-group">
    Email Address
    <input aria-label="Email Address  Must enter a valid email address" class="form-control" dir="auto" id="entry_1077678398" name="entry.1077678398" required="" title="Must enter a valid email address" type="email" value="">
  </div>
  <input name="draftResponse" type="hidden" value='[,,"626563492533810786"]'>
  <input name="pageHistory" type="hidden" value="0">
  <input name="fbzx" type="hidden" value="626563492533810786">
  <div class="ss-item ss-navigate">
    <table id="navigation-table">
      <tbody>
        <tr>
          <td class="ss-form-entry goog-inline-block" dir="ltr" id="navigation-buttons">
            <button class="btn btn-default" name="submit" type="submit" value="Submit">Submit</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</form>