<script>
  var submitted=false;
</script>
<iframe id="hidden_iframe" name="hidden_iframe" onload="if(submitted) {window.location='<%= "#{settings.site_url}formsubmit.html" %>';}" style="display:none;"></iframe>
<form action="https://docs.google.com/forms/d/1JpkOjRyRJe9kOawOutlQscSSApn5xU81D5KZfeYoB6Q/formResponse" method="post" onsubmit="submitted=true;" target="hidden_iframe">
  <ol class="ss-question-list" role="list" style="padding-left: 0"></ol>
  <div class="ss-form-question errorbox-good" role="listitem">
    <div class="ss-item ss-item-required ss-text" dir="ltr">
      <div class="ss-form-entry">
        <div class="row">
          <label class="ss-q-item-label" for="entry_945970398">
          <div class="ss-q-title"></div>
          <h5>
            Enter your Email Address
            <label aria-label="(Required field)" for="itemView.getDomIdToLabel()"></label>
          </h5>
          <div class="ss-q-help ss-secondary-text" dir="ltr"></div>
          <input aria-label="Email Address  Must enter a valid email address" class="ss-q-short" dir="auto" id="entry_945970398" name="entry.945970398" required="" title="Must enter a valid email address" type="email" value="">
          <input name="draftResponse" type="hidden" value='[,,"-6144085848234934457"]'>
          <input name="pageHistory" type="hidden" value="0">
          <input name="fbzx" type="hidden" value="-6144085848234934457">
          <td class="ss-form-entry goog-inline-block" dir="ltr" id="navigation-buttons">
            <input class="jfk-button jfk-button-action" id="ss-submit" name="submit" type="submit" value="Submit">
          </td>
        </div>
      </div>
    </div>
  </div>
</form>