<script>
  var submitted=false;
</script>
<iframe id="hidden_iframe" name="hidden_iframe" onload="if(submitted) {window.location.href='../formsubmit.html';}" style="display:none;"></iframe>

<form action="https://docs.google.com/forms/d/e/1FAIpQLSdPnqdpurhqXaFZMKmIDIvNuiFY6uUcYW-PrFkMBQlFevBHxA/formResponse" method="POST" id="ss-form" target="hidden_iframe" onsubmit="submitted=true;">
  <ol role="list" class="ss-question-list" style="padding-left: 0;"></ol>
  <div class="ss-form-question errorbox-good" role="listitem">
    <div dir="auto" class="ss-item ss-item-required ss-text">
      <div class="ss-form-entry">
        <div class="row">
          <label class="ss-q-item-label" for="entry_650465355">
          <div class="ss-q-title"></div>
          <h5>
            Enter your e-mail address
            <label for="itemView.getDomIdToLabel()" aria-label="(Required field)"></label>
          </h5>
          <div class="ss-q-help ss-secondary-text" dir="auto"></div>
          </label>
          <br />
          <input type="email" name="entry.650465355" value="" class="ss-q-short" id="entry_650465355" dir="auto" aria-label="E-mail address  Please enter a valid e-mail address." aria-required="true" required="" title="Please enter a valid e-mail address.">
          <input type="hidden" name="draftResponse" value='[,,"7978478392203081617"]'>
          <input type="hidden" name="pageHistory" value="0">
          <input type="hidden" name="fbzx" value="7978478392203081617">
          <div class="ss-item ss-navigate">
            <input type="submit" name="submit" value="Submit" id="ss-submit" class="jfk-button jfk-button-action ">
          </div>
        </div>
      </div>
    </div>
  </div>
</form>
