!!!
%html{:lang => "en"}
  %head
    / Basic
    %meta{:charset => "utf-8"}/
    %title OpenShift Commons
    %meta{:content => "The next generation open source app hosting platform by Red Hat", :name => "description"}/
    / Mobile Metas
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}/
    
    / Skins Theme
    %link.skin_color{:href => "../stylesheets/skins/red/red.css", :media => "screen", :rel => "stylesheet"}/

    / Theme CSS
    %link{:rel=>'stylesheet', :href=>'../stylesheets/style.css', :media => "screen"}/
    
    / Responsive CSS
    %link{:rel=>'stylesheet', :href=>'../stylesheets/theme-responsive.css', :media => "screen"}/
   
    %link{:rel => 'stylesheet', :href => '../stylesheets/styles.css', :media => "screen", }/

    %link{:href => "http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700", :rel => "stylesheet", :type => "text/css"}/

    / Favicons
    %link{:href => "img/icons/favicon.png", :rel => "shortcut icon"}/
    %link{:href => "img/icons/apple-touch-icon.png", :rel => "apple-touch-icon"}/
    /[if IE]
      <link rel="stylesheet" href="css/ie/ie.css">
    /[if lte IE 8]
      <script src="js/responsive/html5shiv.js"></script>
      <script src="js/responsive/respond.js"></script>
    :css
      label {
              font-weight:normal;
            }
  
  ~ content

  %footer
    .container
      .row
        / Social Section
        .col-md-6.col-sm-12
          %a{:href => "https://www.redhat.com/"}
            %img{:alt => "Red Hat", :src => "https://assets.openshift.net/app/assets/redhat.svg"}/
        .col-md-6.col-sm-12
          %ul.social
            %li.twitter
              %a{:href => "https://twitter.com/openshift"}
                %span
                  %i.fa.fa-twitter-square
            %li.github
              %a{:href => "https://github.com/openshift/origin-server"}
                %span
                  %i.fa.fa-github
            %li.google
              %a{:href => "https://plus.google.com/communities/114361859072744017486"} 
                %span
                  %i.fa.fa-google-plus-square
            %li.facebook
              %a{:href => "https://www.facebook.com/openshift"}
                %span
                  %i.fa.fa-facebook-square

  / ======================= JQuery libs ===========================
  / jQuery local
  %script{:src => "js/jquery.js", :type => "text/javascript"}
  / Nav
  %script{:src => "js/nav/tinynav.js", :type => "text/javascript"}
  %script{:src => "js/nav/superfish.js", :type => "text/javascript"}
  %script{:src => "js/nav/hoverIntent.js", :type => "text/javascript"}
  / %script{:src => "js/nav/jquery.sticky.js", :type => "text/javascript"}
  / Totop
  %script{:src => "js/totop/jquery.ui.totop.js", :type => "text/javascript"}
  / Slide
  %script{:src => "js/rs-plugin/js/jquery.themepunch.tools.min.js", :type => "text/javascript"}
  %script{:src => "js/rs-plugin/js/jquery.themepunch.revolution.min.js", :type => "text/javascript"}
  / owl-carousel
  %script{:src => "js/carousel/owl.carousel.js", :type => "text/javascript"}
  / Ligbox
  %script{:src => "js/fancybox/jquery.fancybox.pack.js", :type => "text/javascript"}
  / Gamma Gallery
  /%script{:src => "js/gammagallery/js/gamma.js", :type => "text/javascript"}
  / Gallery Grid
  %script{:src => "js/gallery/modernizr.custom.26633.js", :type => "text/javascript"}
  %script{:src => "js/gallery/jquery.gridrotator.js", :type => "text/javascript"}
  / Minislider Team
  %script{:src => "js/team/modernizr.custom.63321.js", :type => "text/javascript"}
  %script{:src => "js/team/jquery.catslider.js", :type => "text/javascript"}
  / Filters
  %script{:src => "js/filters/jquery.isotope.js", :type => "text/javascript"}
  / Theme Options
  %script{:src => "js/theme-options/theme-options.js", :type => "text/javascript"}
  %script{:src => "js/theme-options/jquery.cookies.js", :type => "text/javascript"}
  / Twitter Feed
  %script{:src => "js/twitter/jquery.tweet.js", :type => "text/javascript"}
  / WOW-master
  %script{:src => "js/animations/wow.min.js", :type => "text/javascript"}
  / Parallax
  %script{:src => "js/parallax/jquery.inview.js", :type => "text/javascript"}
  %script{:src => "js/parallax/nbw-parallax.js", :type => "text/javascript"}
  / Bootstrap.js
  %script{:src => "js/bootstrap/bootstrap.js", :type => "text/javascript"}
  / fUNCTIONS
  %script{:src => "js/main.js", :type => "text/javascript"}
  / ======================= End JQuery libs ===========================