<% content_for :javascript do %>
// fetch openshift-commons tagged articles only
$(document).ready(function () {
  var feedUrl = 'https://www.openshift.com/blog/tag/openshift-commons/rss.xml';
  var maxItems = 5;
  var blogFeedContainer = $("#blog-feed");

  var blogItemHtml = function(link, title, date, description) {
    var blogDate = new Date(date);
    var dateFormat = { year: 'numeric', month: 'short', day: 'numeric' };
    htmlTemplate = '<div class="col-xs-12"><div class="blog-article"><div class="row"><div class="blog-item"><a href="' + link + '">' + title + '</a><p class="blog-pubDate"><i class="fa fa-calendar" aria-hidden="true"></i>&nbsp;' + blogDate.toLocaleDateString("en-us", dateFormat) + '</p><div class="blog-description">' + description + '</div></div></div></div></div>';
    return htmlTemplate;
  };

   function strip(html) {
    var doc = new DOMParser().parseFromString(html, 'text/html');
    return doc.body.textContent || "";
  };

  $.ajax({
    url: feedUrl,
    accepts:{
			xml:"application/rss+xml"
		},
    dataType: "xml",
    error: function() {
      console.log("Error occurred while getting blog RSS feed from " + this.url);
    },
    success: function(response) {
      console.log("Blog feed retrieved.");
      var output = "";
      $(response).find("item").slice(0, maxItems).each(function () {
				var el = $(this);
        var intro = strip(el.find("description").text().split("</p>")[0].replace("<p>",""));
        console.log(intro);
        output += blogItemHtml(el.find("link").text(), el.find("title").text(), el.find("pubDate").text(), intro);
      });
      blogFeedContainer.html(output);
    }
  });
});
<% end %>

<div id="blog-feed">
  <div class="row">
    <div class="col-md-12 text-center">
      <i class="fa fa-cog fa-spin fa-2x" aria-hidden="true"></i>
    </div>
  </div>
</div>
