<% content_for :javascript do %>
$(document).ready(function () {
  var feedUrl = 'https://blog.openshift.com/category/openshift-commons/feed/';
  var numItems = 6;
  var blogFeedContainer = $("#blog-feed");

  var blogItemHtml = function(link, title, author, date) {
    var blogDate = new Date(date);
    var dateFormat = { year: 'numeric', month: 'short', day: 'numeric' };
    htmlTemplate = '<div class="col-xs-12"><div class="blog-article"><div class="row"><div class="blog-item"><a href="' + link + '">' + title + '</a><p class="small">' + blogDate.toLocaleDateString("en-us", dateFormat) + '</p></div></div></div></div>';
    return htmlTemplate;
  };

  $.ajax({
    url: "http://query.yahooapis.com/v1/public/yql",
    jsonp: "callback",
    dataType: "jsonp",
    data: {
        q: 'select title, link, pubDate, dc:creator from rss(0,' + numItems.toString() + ') where url="' + feedUrl + '"',
        format: "json"
    },
    error: function() {
      console.log("Error occurred while getting blog RSS feed!");
    },
    success: function( response ) {
      console.log(response);
      var output = '';
      $(response.query.results.item).each(function(index, entry) {
        output += blogItemHtml(entry.link, entry.title, entry.creator, entry.pubDate);
      });
      blogFeedContainer.html(output);
    }
  });
});
<% end %>

<div id="blog-feed">
  <div class="row">
    <div class="col-md-12 text-center">
      <i class="fa fa-cog fa-spin fa-2x" aria-hidden="true"></i>
    </div>
  </div>
</div>
