<% featured_articles.first(3).each do |post| %>
<div id="featured-blog">
    <div class="row">
      <div class="col-md-12">
        <div class="featured-blog-title">
          <a href="<%= post.link %>"><h4><%= post.title %></h4></a>
        </div>
        <div class="featured-blog-image">
          <%= image_tag post.image, :alt => post.title %>
        </div>
        <div class="featured-blog-description">
          <p><%= post.description %></p>
        </div>
      </div>
    </div>
</div>
<% end %>
