<li data-participantName="<%= participant_list.name.downcase %>">
  <div class="col-md-2 logo">
    <%= image_tag participant_list.logo, :alt => participant_list.name %>
  </div>
  <div class="col-md-10 participant-name">
    <%= link_to participant_list.name, participant_list.link %>
  </div>
</li>