<li data-participantName="<%= participant.name.downcase %>">
  <a href="<%= participant.link %>" title="<%= participant.name %>">
    <%= image_tag participant.logo, :alt => participant.name %>
  </a>
</li>
