<li data-participantName="<%= participant_list.name.downcase %>">
  <div class="col-sm-5 logo">
    <%= image_tag participant_list.logo, :alt => participant_list.name %>
  </div>
  <div class="col-sm-7 hidden-xs participant-name">
    <%= link_to participant_list.name, participant_list.link, target: "_blank" %>
  </div>
</li>
