<div id="participant-carousel" class="carousel slide logo-carousel" data-ride="carousel">
  <div class="carousel-inner">
  <!-- carousel slides -->

  <% participants_carousel.shuffle.each_slice(5).with_index do |slice, index| %>
    <% if index == 0 %>
    <div class="item active">
    <% else %>
    <div class="item">
    <% end %>
      <% slice.each do |participant| %>
      <div class="participant-logo">
        <a href="<%= participant.link %>" title="<%= participant.name %>">
          <%= image_tag participant.logo, :alt => participant.name %>
        </a>
      </div>
      <% end %>
    </div>
  <% end %>
  </div>

  <!-- carousel controls -->
  <a class="left carousel-control" href="#participant-carousel" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left"></span>
  </a>
  <a class="right carousel-control" href="#participant-carousel" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right"></span>
  </a>
</div>
