---
title: Commons Briefings
description: Videos from OpenShift Commons Briefings
---

<% content_for :header do %>
<h1 class="animated fadeInDown delay">
  Commons Events Briefings
</h1>
<p class="animated fadeInUp delay">
  See what you've missed.
</p>
<% end %>

<div class="crumbs border_bottom">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <ul>
          <li>
            <a href="/index.html">Home</a>
          </li>
          <li>/</li>
          <li>
            <a href="/briefings.html">Briefings</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>

<section class="content_info">
  <div class="row info_title wow fadeInUp">
    <div class="vertical_line">
      <div class="circle_bottom"></div>
    </div>
    <div class="info_vertical animated">
      <h1>
        Past
        <span>Briefings</span>
        Recordings
      </h1>
      <p>Catch up on anything you might have missed.</p>
    </div>
    <div class="container">
    <div class="row">
      <div class="col-md-12">
        <%= partial "videos", :object => data.briefing_videos.videos %>
      </div>
    </div>
  </div>
  </div>
  <div class="vertical_line"></div>
</section>

<% content_for :javascript do %>
  $(document).ready(function() {
    $('.video').matchHeight();
    $('.title').matchHeight();
  });
<% end %>
