---
title: Events and Briefings
description: Supporting quotes from OpenShift Commons participants.
---

<% content_for :header do %>
<h1 class="animated fadeInDown delay">
  Commons Events &amp; Briefings
</h1>
<p class="animated fadeInUp delay">
  Join us at upcoming events and catch up on the ones you missed.
</p>
<% end %>

<div class="crumbs border_bottom">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <ul>
          <li>
            <a href="/index.html">Home</a>
          </li>
          <li>/</li>
          <li>
            <a href="/briefings.html">Events &amp; Briefings</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>


<div class="row info_title wow animated fadeInUp">
  <div class="vertical_line">
    <div class="circle_bottom"></div>
  </div>
  <div class="info_vertical">
    <h1>
      Upcoming
      <span>Events</span>
    </h1>
  </div>
</div>

<section class="content_info">
  <div class="info_resalt borders">
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <h3 class="titles-span">
            Join
            <span>Great</span>
            Sessions
          </h3>
          <p>We're constantly planning new events for all types of interests. Each event is lead by an OpenShift expert and would love to answer any of your questions.</p>
          <ul class="list">
            <li>
              <i class="fa fa-check"></i>
              OpenShift 3
            </li>
            <li>
              <i class="fa fa-check"></i>
              Operations
            </li>
            <li>
              <i class="fa fa-check"></i>
              DevOps
            </li>
            <li>
              <i class="fa fa-check"></i>
              Development
            </li>
            <li>
              <i class="fa fa-check"></i>
              Contributing
            </li>
          </ul>
        </div>
        <div class="col-md-8">
          <script class="ai1ec-widget-placeholder" data-action="posterboard" data-widget="ai1ec-superwidget">
            (function(){var d=document,s=d.createElement('script'),
            i='ai1ec-script-sw';if(d.getElementById(i))return;s.async=1;
            s.id=i;s.src='http://live-timely-objzoywz.time.ly/?ai1ec_super_widget';
            d.getElementsByTagName('head')[0].appendChild(s);})();
          </script>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="content_info">
  <div class="row info_title wow fadeInUp">
    <div class="vertical_line">
      <div class="circle_bottom"></div>
    </div>
    <div class="info_vertical animated">
      <h1>
        Past
        <span>Briefings</span>
        Recordings
      </h1>
      <p>Catch up on anything you might have missed.</p>
    </div>
    <div class="container wow fadeInUp">
      <div class="col-sm-6 col-md-12">
        <div class="service-02">
          <div class="head-service-02">
            <i class="fa fa-wrench"></i>
            <h3>
              <a href="https://youtu.be/0n3QaO7tvRw">Persistant Storage for Containerized Applications on OpenShift</a>
              <span>by Steve Watt, Red Hat</span>
            </h3>
          </div>
          <div class="caption-service-02">
            <p>In this OpenShift Commons Briefing, Steve Watt explains the ins and outs of deploying Storage platforms on OpenShift 3</p>
          </div>
        </div>
        <div class="service-02">
          <div class="head-service-02">
            <i class="fa fa-wrench"></i>
            <h3>
              <a href="https://youtu.be/4Yxv971Lwx4">Securing your Java Applications on OpenShift</a>
              <span>by Sid Shetye, Crypteron</span>
            </h3>
          </div>
          <div class="caption-service-02">
            <p>In this OpenShift Commons Briefing, Crypteron's CTO Sid Shetye explains how to add regulatory compliant encryption to your Java applications on OpenShift.</p>
          </div>
        </div>
        <div class="service-02">
          <div class="head-service-02">
            <i class="fa fa-gear"></i>
            <h3>
              <a href="https://bluejeans.com/s/8HFC/">Implementing Blue-Green and AB Deployments with OpenShift</a>
              <span>by Veer Muchandi, Red Hat</span>
            </h3>
          </div>
          <div class="caption-service-02">
            <p>In this OpenShift Commons Briefing, Veer explains the basics doing B/G and AB deployments on OpenShift.</p>
          </div>
        </div>
        <div class="service-02">
          <div class="head-service-02">
            <i class="fa fa-gear"></i>
            <h3>
              <a href="https://youtu.be/wEL-HdoscXw">Under the Hood: Integrating OpenShift 3 with F5</a>
              <span>By Miciah Butler Masters and Mike Barrett, Red Hat</span>
            </h3>
          </div>
          <div class="caption-service-02">
            <p>In this OpenShift Commons Briefing, Dan explains the basics for navigating the OpenShift 3 development tool chains to familiarize those wanting to contribute to the project with our tools.</p>
          </div>
        </div>
        <div class="service-02">
          <div class="head-service-02">
            <i class="fa fa-exchange"></i>
            <h3>
              <a href="https://bluejeans.com/s/8AAa/">Navigating the OpenShift Community Toolchains: Trello, Jenkins and Github</a>
              <span>By Dan McPherson, Red Hat</span>
            </h3>
          </div>
          <div class="caption-service-02">
            <p>In this OpenShift Commons Briefing, Dan explains the basics for navigating the OpenShift 3 development tool chains to familiarize those wanting to contribute to the project with our tools.</p>
          </div>
        </div>
        <div class="service-02">
          <div class="head-service-02">
            <i class="fa fa-wrench"></i>
            <h3>
              <a href="https://youtu.be/RMN-PB4McBY">Cloudforms Operational Dashboard for OpenShift 3 and Kubernetes</a>
              <span>By Ju Lim and Serena Doyle, Red Hat</span>
            </h3>
          </div>
          <div class="caption-service-02">
            <p>In this OpenShift Commons Briefing, Overview of the latest version of the Operational Dashboard for managing all the containerized workloads in OpenShift 3 and Kubernetes.</p>
          </div>
        </div>
        <div class="service-02">
          <div class="head-service-02">
            <i class="fa fa-gear"></i>
            <h3>
              <a href=" https://youtu.be/PBlbKKvqYs4">Handling Asynchronous Workloads on OpenShift</a>
              <span>By Ivan Dwyer, Iron.io</span>
            </h3>
          </div>
          <div class="caption-service-02">
            <p>In this OpenShift Commons Briefing, Ivan Dwyer gives an overview of Asynchronous tasks and walks us thru how to use IronWorker and IronMQ to easily manage and scale asynchronous workloads on OpenShift.</p>
          </div>
        </div>
        <div class="service-02">
          <div class="head-service-02">
            <i class="fa fa-wrench"></i>
            <h3>
              <a href=" https://youtu.be/x3pWaVyfO0c">Using OpenShift as a Mobile Backend with Red Hat Mobile Application Platform</a>
              <span>By John Frizelle, Red Hat</span>
            </h3>
          </div>
          <div class="caption-service-02">
            <p>In this OpenShift Commons Briefing, John Frizelle walks us thru the seamless integration of OpenShift and Red Hat Mobile Application Platform. A very accessible technical talk on the entire workflow from code to fully deployed mobile application.</p>
          </div>
        </div>
        <div class="service-02">
          <div class="head-service-02">
            <i class="fa fa-gear"></i>
            <h3>
              <a href="https://youtu.be/JOgG9C0doBE">CI/CD Workflows on OpenShift with Shippable</a>
              <span>By Tom Trahan and Avi Cavale, Shippable</span>
            </h3>
          </div>
          <div class="caption-service-02">
            <p>In this OpenShift Commons Briefing, Tom Trahan gives a great overview Shippable's CI/CD integration for OpenShift 3 with a technical deep dive demo, followed by Q/A with Avi Cavale, CTO Shippable.</p>
          </div>
        </div>
        <div class="service-02">
          <div class="head-service-02">
            <i class="fa fa-wrench"></i>
            <h3>
              <a href="https://youtu.be/Z08FEd2r458">OpenShift V3 Beta 4 Traing on Operation Workflow</a>
              <span>By  Erik Jacobs, Red Hat</span>
            </h3>
          </div>
          <div class="caption-service-02">
            <p>In this OpenShift Commons Briefing, Hugo Rivero, Manager, Ecosystem Technology Certification and Deliver at Red Hat walks us thru the work-flow of ensuring your containerized app is enterprise-ready.</p>
          </div>
        </div>
        <div class="service-02">
          <div class="head-service-02">
            <i class="fa fa-gear"></i>
            <h3>
              <a href="https://youtu.be/FuBRdsR14lc">How To Get Your Containerized Apps Enterprise-Ready & Red Hat Certified</a>
              <span>By  Hugo Rivero, Red Hat</span>
            </h3>
          </div>
          <div class="caption-service-02">
            <p>In this OpenShift Commons Briefing, Hugo Rivero, Manager, Ecosystem Technology Certification and Deliver at Red Hat walks us thru the work-flow of ensuring your containerized app is enterprise-ready.</p>
          </div>
        </div>
        <div class="service-02">
          <div class="head-service-02">
            <i class="fa fa-exchange"></i>
            <h3>
              <a href="https://youtu.be/aTO4-OYme-Y">Metering MicroServices on OpenShift 3</a>
              <span>By  Delano Seymour, CTO 6Fusion</span>
            </h3>
          </div>
          <div class="caption-service-02">
            <p>In this OpenShift Commons Briefing, 6Fusion CTO Delano Seymour discussed how to Meter MicroServices on OpenShift 3</p>
          </div>
        </div>
        <div class="service-02">
          <div class="head-service-02">
            <i class="fa fa-gear"></i>
            <h3>
              <a href="https://youtu.be/WYUsuHHDn2w">OpenShift V3 Beta 3 Training Session</a>
              <span>By Erik Jacobs (Red Hat)</span>
            </h3>
          </div>
          <div class="caption-service-02">
            <p>In this OpenShift V3 Beta 3 Training Briefing, Red Hat's Erik Jacobs explains the Developer Workflows for both CLI and Console.</p>
          </div>
        </div>
        <div class="service-02">
          <div class="head-service-02">
            <i class="fa fa-exchange"></i>
            <h3>
              <a href="https://youtu.be/NufEwYn1t8c">Continuous Development with JRebel on OpenShift</a>
              <span>By Adam Koblentz (ZeroTurnAround) & Arun Gupta (Red Hat)</span>
            </h3>
          </div>
          <div class="caption-service-02">
            <p>ZeroTurnaround's Adam Koblentz & Red Hat's Arun Gupta give explain how to do Continuous Development with JRebel on OpenShift.</p>
          </div>
        </div>
        <div class="service-02">
          <div class="head-service-02">
            <i class="fa fa-wrench"></i>
            <h3>
              <a href=" https://youtu.be/R5eHPk9YcRA">OpenShift Commons Briefing: Scheduling Pods for High Availability</a>
              <span>By Abhishek Gupta (Red Hat)</span>
            </h3>
          </div>
          <div class="caption-service-02">
            <p>Red Hat's Abhishek Gupta deep dives into the Scheduler, explains the ins and outs of High Availability in OpenShift V3.</p>
          </div>
        </div>
        <div class="service-02">
          <div class="head-service-02">
            <i class="fa fa-exchange"></i>
            <h3>
              <a href="https://youtu.be/awYJ0UYynuo">OpenShift Commons Briefing: OpenShift V3 and Project Atomic</a>
              <span>By Mike McGrath (Red Hat)</span>
            </h3>
          </div>
          <div class="caption-service-02">
            <p>Red Hat's Mike McGrath dives into the basics of Project Atomic and discusses how it's being leveraged in OpenShift V3.</p>
          </div>
        </div>
        <div class="service-02">
          <div class="head-service-02">
            <i class="fa fa-wrench"></i>
            <h3>
              <a href="https://youtu.be/-I0hzuZc1jQ">OpenShift Commons Briefing: OpenShift and Monitoring Lessons Learned at OpenShift Online</a>
              <span>By Thomas Wiest (Red Hat)</span>
            </h3>
          </div>
          <div class="caption-service-02">
            <p>Red Hat's Thomas Wiest dives deep into OpenShift Online's approach to monitoring, discusses use of Zabbix, Puppet, Ansible and tell us where all the skeletons & scripts are hidden.</p>
          </div>
        </div>
        <div class="service-02">
          <div class="head-service-02">
            <i class="fa fa-exchange"></i>
            <h3>
              <a href="https://youtu.be/wjWgVApNbQA">OpenShift Commons Briefing: OpenShift V3 Features Update</a>
              <span>By Joe Fernandes</span>
            </h3>
          </div>
          <div class="caption-service-02">
            <p>In the past, we’ve talked  a lot about what’s under the hood of  the OpenShift 3 platform, in this briefing Joe Fernandes talks a more about specific features you should expect to see for both Developers and Administrators and answers questions on the upcoming release.</p>
          </div>
        </div>
        <div class="service-02">
          <div class="head-service-02">
            <i class="fa fa-gear"></i>
            <h3>
              <a href="https://youtu.be/RfiWPYg9unY">OpenShift Commons Briefing: Storage and OpenShift V3</a>
              <span>By Mark Turansky</span>
            </h3>
          </div>
          <div class="caption-service-02">
            <p>OpenShift's Mark Turansky discusses the technical design and details around Storage in OpenShift 3</p>
          </div>
        </div>
        <div class="service-02">
          <div class="head-service-02">
            <i class="fa fa-exchange"></i>
            <h3>
              <a href="https://youtu.be/HMiuJdY3Hbg">OpenShift Commons Briefing: Networking and OpenShift V3</a>
              <span>By Clayton Coleman</span>
            </h3>
          </div>
          <div class="caption-service-02">
            <p>OpenShift's Clayton Coleman discusses some of the technical details around networking in OpenShift 3</p>
          </div>
        </div>
        <div class="service-02">
          <div class="head-service-02">
            <i class="fa fa-gear"></i>
            <h3>
              <a href="https://youtu.be/yQoYBS0daeM">OpenShift Commons Briefing: Ops Lessons Learned at OpenShift Online</a>
              <span>By Adam Miller</span>
            </h3>
          </div>
          <div class="caption-service-02">
            <p>OpenShift's Adam Miller walks us through how OpenShift does Operations.</p>
          </div>
        </div>
        <div class="service-02">
          <div class="head-service-02">
            <i class="fa fa-wrench"></i>
            <h3>
              <a href="https://youtu.be/N4lu2DhSI5Q">OpenShift Commons Briefing: OpenShift V3 release</a>
              <span>By Mike Barrett</span>
            </h3>
          </div>
          <div class="caption-service-02">
            <p>OpenShift Product Manager Mike Barrett goes over Commons and how you can get involved with OpenShift V3</p>
          </div>
        </div>
        <div class="service-02">
          <div class="head-service-02">
            <i class="fa fa-lightbulb-o"></i>
            <h3>
              <a href="https://youtu.be/wkIscpV7e3k">OpenShift Commons Briefing: OpenShift on OpenStack at Cisco</a>
              <span>By Daneyon Hansen</span>
            </h3>
          </div>
          <div class="caption-service-02">
            <p>Daneyon Hansen talks about his experience deploying and contributing to OpenShift on OpenStack at Cisco.</p>
          </div>
        </div>
        <div class="service-02">
          <div class="head-service-02">
            <i class="fa fa-code-fork"></i>
            <h3>
              <a href="https://youtu.be/kfC3pyS1_S8">OpenShift Commons Briefing: Java EE Workflows on OpenShift with Arun Gupta (Red Hat)</a>
              <span>By Arun Gupta</span>
            </h3>
          </div>
          <div class="caption-service-02">
            <p>Director of Developer Advocacy at Red Hat Arun Gupta demonstrates some of the Java EE workflows on OpenShift.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="vertical_line"></div>
</section>