---
title: OpenShift Commons En Vivo
description: Apoyando a los participantes de OpenShift Commons en Español.
---

<% content_for :header do %>
<h1 class="animated fadeInDown delay">
  OpenShift Commons En Vivo
</h1>
<p class="animated fadeInUp delay">
  Participa en los siguientes eventos de OpenShift Commons En Vivo.
</p>
<% end %>

<div class="crumbs border_bottom">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <ul>
          <li>
            <a href="/index.html">Inicio</a>
          </li>
          <li>/</li>
          <li>
            <a href="/envivo.html">En Vivo</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>


<div class="row info_title wow animated fadeInUp">
  <div class="vertical_line">
    <div class="circle_bottom"></div>
  </div>
  <div class="info_vertical">
    <h1>
      Próximos
      <span>Eventos</span>
    </h1>
  </div>
</div>

<section class="content_info">
  <div class="info_resalt borders">
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <h3 class="titles-span">
            Participa en 
            <span>Fantásticas</span>
            Sesiones
          </h3>
          <p>
            <strong>Todas las horas indicadas en Paficit Standard Time.</strong>
            Cada sesión la realiza un experto de OpenShift, que estará encantado de responder a vuestras preguntas. Teneis todas las sesiones de OpenShift Commons En Vivo disponibles en este 
            <a href="https://www.youtube.com/playlist?list=PLaR6Rq6Z4Iqe131VK7NiOkEGte1yQq4sD" target="_blank">canal de YouTube</a>.
          </p>
          <ul class="list">
            <li>
              <i class="fa fa-check"></i>
              OpenShift
            </li>
            <li>
              <i class="fa fa-check"></i>
              Operaciones
            </li>
            <li>
              <i class="fa fa-check"></i>
              DevOps
            </li>
            <li>
              <i class="fa fa-check"></i>
              Desarrollo
            </li>
            <li>
              <i class="fa fa-check"></i>
              Contribuye
            </li>
          </ul>
        </div>
        <div class="col-md-8">
          <script class="ai1ec-widget-placeholder" data-widget="ai1ec_agenda_widget" data-events_seek_type="events" data-cat_ids="357">
            (function(){var d=document,s=d.createElement('script'),
            i='ai1ec-script';if(d.getElementById(i))return;s.async=1;
            s.id=i;s.src='//live-timely-objzoywz.time.ly/?ai1ec_js_widget';
            d.getElementsByTagName('head')[0].appendChild(s);})();
          </script>
        </div>
      </div>
    </div>
  </div>
</section>
