---
title: Commons Events
description: Supporting quotes from OpenShift Commons participants.
---

<% content_for :header do %>
<h1 class="animated fadeInDown delay">
  Commons Events Calendar
</h1>
<p class="animated fadeInUp delay">
  Join us at upcoming events.
</p>
<% end %>

<div class="crumbs border_bottom">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <ul>
          <li>
            <a href="/index.html">Home</a>
          </li>
          <li>/</li>
          <li>
            <a href="/events.html">Events</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>


<div class="row info_title wow animated fadeInUp">
  <div class="vertical_line">
    <div class="circle_bottom"></div>
  </div>
  <div class="info_vertical">
    <h1>
      Upcoming
      <span>Events</span>
    </h1>
  </div>
</div>

<section class="content_info">
  <div class="info_resalt borders">
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <h3 class="titles-span">
            Join
            <span>Great</span>
            Sessions
          </h3>
          <p>
            <strong>All times listed are in Pacific Standard Time.</strong>
            Each event is lead by an OpenShift expert who would love to answer any of your questions. All the OpenShift Commons Briefings and are recorded and posted on
            <a href="https://www.youtube.com/playlist?list=PLaR6Rq6Z4IqdIM7LtosKqi3LlYXyxjwnj" target="_blank">our YouTube channel</a>.
          </p>
          <ul class="list">
            <li>
              <i class="fa fa-check"></i>
              OpenShift 3
            </li>
            <li>
              <i class="fa fa-check"></i>
              Operations
            </li>
            <li>
              <i class="fa fa-check"></i>
              DevOps
            </li>
            <li>
              <i class="fa fa-check"></i>
              Development
            </li>
            <li>
              <i class="fa fa-check"></i>
              Contributing
            </li>
          </ul>
        </div>
        <div class="col-md-8">
          <script class="ai1ec-widget-placeholder" data-widget="ai1ec_superwidget" data-action="month">
            (function(){var d=document,s=d.createElement('script'),
            i='ai1ec-script';if(d.getElementById(i))return;s.async=1;
            s.id=i;s.src='//live-timely-objzoywz.time.ly/?ai1ec_js_widget';
            d.getElementsByTagName('head')[0].appendChild(s);})();
          </script>
        </div>
      </div>
    </div>
  </div>
</section>
