---
title: OpenShift Commons Gathering
description:  A community of collaborators working together.
---

<% content_for :header do %>
<h1 class="animated fadeInDown delay">
  OpenShift Commons Gathering
</h1>
<p class="animated fadeInUp delay">
  January 1st, 2019 | London, UK.
</p>
<% end %>

<!-- Breadcrumbs -->
<div class="crumbs border_bottom">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <ul>
          <li>
            <a href="/index.html">Home</a>
          </li>
          <li>/</li>
          <li>
            OpenShift Commons Gathering
          </li>
          <li>/</li>
          <li>
            <a href="/gathering.html">London</a>
          </li>
        </ul>
      </div>
    </div><!-- /.row -->
  </div><!-- /.container -->
</div>

<!-- Gathering Info -->
<div class="row info_title wow animated fadeInUp">
  <div class="vertical_line">
    <div class="circle_bottom"></div>
  </div>
  <div class="info_vertical">
    <h1>
      OpenShift Commons Gathering<br>
      <span>London</span><br><br>
      <p>Where users, partners, customers, contributors and upstream project leads come together to collaborate and work together on OpenShift.</p>
    </h1>
  </div>
</div>

<!-- Gathering Nav Pills ----------------------------------------------------------------------------------------------------------->
<div class="container">
  <div class="row">
    <div class="col-md-12 nav-center">
      <ul class="nav nav-pills">
      <li role="presentation"><a href="#gathering-overview">Overview</a></li>
      <li role="presentation"><a href="#gathering-sponsor">Sponsors</a></li>
      <li role="presentation"><a href="#gathering-schedule">Schedule</a></li>
      <li role="presentation"><a href="#">Register</a></li>
      <li role="presentation"><a href="#gathering-venue">Venue</a></li>
      <li role="presentation"><a href="#gathering-speakers">Speakers</a></li>
      </ul>
    </div>
  </div><!-- /.row -->
</div><!-- /.container -->
<hr>
<!-- Overview Section ----------------------------------------------------------------------------------------------------------->
<section class="section-gathering">
  <div class="container">
    <div class="row">
      <div class="col-sm-4 col-sm-offset-2">
        <div class="btn-event event-border buy">
          <a href="#" target="_blank">
            <p class="text-center">Purchase tickets</p>
          </a>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="btn-event apply">
          <a href="#" target="_blank">
            <p class="text-center">Apply to be a sponsor</p>
          </a>
        </div>
      </div>
    </div><!-- /.row -->
  </div><!-- /.container-->
  <div class="container">
  <div id="gathering-overview"></div>
    <div class="row">
      <div class="container"><br>
        <h3 class="text-center">Event Overview</h3><br>
        <!-- Overview Box -->
        <div class="col-md-12 event-box">
          <!-- Left Col -->
          <div class="col-md-6 text-center">
            <p>
              <span style="color: #DB212F; font-weight:700;">The OpenShift Commons Gathering will be co-located in Austin with <a href="http://events.linuxfoundation.org/events/cloudnativecon-and-kubecon-north-america" target="_blank">CNCF's KubeCon</a> at the <a href="http://www3.hilton.com/en/hotels/texas/hilton-austin-AUSCVHH/index.html" target="_blank">Hilton Austin</a>!
              </span>
            </p>
            <p class="text-justify" style="font-size:18px; margin: 0 20px;">The OpenShift Commons Gathering brings together experts from all over the world to discuss container technologies, best practices for cloud native application developers and the open source software projects that underpin the OpenShift ecosystem. The Austin event will gather developers, devops professionals and sysadmins together to explore the next steps in making container technologies successful and secure.</p>
            <br>
            <div class="btn-event event-border buy">
              <a href="#" target="_blank">
                  <p>Purchase tickets</p>
              </a>
            </div>
            <p class="text-center text-2-mobile" style="font-size:1.2em;"><a href="https://docs.google.com/forms/d/e/1FAIpQLSfHDndcqfnU8y6X58e0GbfqHNxWPrX1qg2REH9tin-zqjJSkw/viewform" target="_blank"><strong>Invite a friend &gt;&gt;</strong></a></p>
          </div>
          <!-- Right Col -->
          <div class="col-md-6 text-center">
            <h3 class="text-center">Where</h3>
            <p class="text-center">
             <span style="color: #DB212F; font-weight:500;">London, UK</span><br>
             <a href="https://www.google.com" target="_blank">QEII Centre London</a>
           </p>
            <hr>
            <div class="row">
             <div class="col-xs-6">
                 <h3>When</h3><br>
                 <a href="https://openshiftgathering.com/assets/openshiftgathering/os-gathering-2017-austin.ics" target="_blank">
                   <img src="https://openshiftgathering.com/assets/openshiftgathering/images/calendar-icon_dec5.png" style="width:120px"></a>
                 <br><br><br><br>
             </div>
             <div class="col-xs-6">
                 <h3>Price</h3>
                 <br>
                 <p>
                 Early Bird: $99
                 <br>Standard: $149
               </p>
             </div>
           </div>
          </div>
        </div>
        </div>
      </div><!-- /.row -->
    </div><!-- /.container -->
    <br><br>
    <div class="container">
      <p class="text-center">By being co-located in Austin with KubeCon at the Hilton Austin, the OpenShift Commons Gathering will provide a platform for showcasing a full range of technologies that support the OpenShift ecosystem and help bring cloud native project communities together. We strongly encourage you to partake in the full week of events.</p>
    </div>
  </div>
</section>

<!-- Sponsors Section ---------------------------------------------------------------------------------------------------------------->
<div id="gathering-sponsor"></div>
<section class="section-gathering section-gathering-secondary">
    <div class="container text-center">
        <div class="row container text-center">
            <h3>Sponsors</h3><br>
            <p class="text-center">Interested in sponsoring OpenShift Commons Gathering? <a href="http://openshiftgathering.com/openshiftgathering_sponsors_application" target="_blank">Apply here.</a></p><br>
              <!--Sponsor -->
              <div class="sponsor sponsor-height col-xs-6 col-md-3">
                <div class="panel-body">
                  <a href = "https://www.nearform.com/" target = "_blank">
                      <img class = "img-responsive" src = "https://www.nearform.com/img/nearform-logotype.svg"/>
                  </a>
                </div>
              </div>
              <!--Sponsor -->
              <div class="sponsor sponsor-height col-xs-6 col-md-3">
                <div class="panel-body">
                  <a href = "https://www.nearform.com/" target = "_blank">
                      <img class = "img-responsive" src = "https://www.nearform.com/img/nearform-logotype.svg"/>
                  </a>
                </div>
              </div>
              <!--Sponsor -->
              <div class="sponsor sponsor-height col-xs-6 col-md-3">
                <div class="panel-body">
                  <a href = "https://www.nearform.com/" target = "_blank">
                      <img class = "img-responsive" src = "https://www.nearform.com/img/nearform-logotype.svg"/>
                  </a>
                </div>
              </div>
              <!--Sponsor -->
              <div class="sponsor sponsor-height col-xs-6 col-md-3">
                <div class="panel-body">
                  <a href = "https://www.nearform.com/" target = "_blank">
                      <img class = "img-responsive" src = "https://www.nearform.com/img/nearform-logotype.svg"/>
                  </a>
                </div>
              </div>

              <!--Sponsor -->
              <div class="sponsor sponsor-height col-xs-6 col-md-3">
                <div class="panel-body">
                  <a href = "https://www.aquasec.com/" target = "_blank">
                      <img class="img-responsive" src="https://www.aquasec.com/wp-content/themes/aqua/images/logo_aqua.svg"/>
                  </a>
                </div>
              </div>
              <!--Sponsor -->
              <div class="sponsor sponsor-height col-xs-6 col-md-3">
                <div class="panel-body">
                  <a href = "https://www.aquasec.com/" target = "_blank">
                      <img class="img-responsive" src="https://www.aquasec.com/wp-content/themes/aqua/images/logo_aqua.svg"/>
                  </a>
                </div>
              </div>
              <!--Sponsor -->
              <div class="sponsor sponsor-height col-xs-6 col-md-3">
                <div class="panel-body">
                  <a href = "https://www.aquasec.com/" target = "_blank">
                      <img class="img-responsive" src="https://www.aquasec.com/wp-content/themes/aqua/images/logo_aqua.svg"/>
                  </a>
                </div>
              </div>
              <!--Sponsor -->
              <div class="sponsor sponsor-height col-xs-6 col-md-3">
                <div class="panel-body">
                  <a href = "https://www.aquasec.com/" target = "_blank">
                      <img class="img-responsive" src="https://www.aquasec.com/wp-content/themes/aqua/images/logo_aqua.svg"/>
                  </a>
                </div>
              </div>

              <!--Sponsor -->
              <div class="sponsor sponsor-height col-xs-6 col-md-3">
                <div class="panel-body">
                  <a href = "https://www.nuodb.com/" target = "_blank">
                      <img class="img-responsive" src="https://www.nuodb.com/sites/all/themes/nuodb/logo.svg"/>
                  </a>
                </div>
              </div>
              <!--Sponsor -->
              <div class="sponsor sponsor-height col-xs-6 col-md-3">
                <div class="panel-body">
                  <a href = "https://www.nuodb.com/" target = "_blank">
                      <img class="img-responsive" src="https://www.nuodb.com/sites/all/themes/nuodb/logo.svg"/>
                  </a>
                </div>
              </div>
              <!--Sponsor -->
              <div class="sponsor sponsor-height col-xs-6 col-md-3">
                <div class="panel-body">
                  <a href = "https://www.nuodb.com/" target = "_blank">
                      <img class="img-responsive" src="https://www.nuodb.com/sites/all/themes/nuodb/logo.svg"/>
                  </a>
                </div>
              </div>
              <!--Sponsor -->
              <div class="sponsor sponsor-height col-xs-6 col-md-3">
                <div class="panel-body">
                  <a href = "https://www.nuodb.com/" target = "_blank">
                      <img class="img-responsive" src="https://www.nuodb.com/sites/all/themes/nuodb/logo.svg"/>
                  </a>
                </div>
              </div>
              <!--Sponsor -->
              <div class="sponsor sponsor-height col-xs-6 col-md-3">
                <div class="panel-body">
                  <a href = "https://www.secnix.com/" target = "_blank">
                      <img class="img-responsive" src="https://www.secnix.com/wp-content/themes/secnixwordpress/assets/images/secnix-new.svg"/>
                  </a>
                </div>
              </div>
              <!--Sponsor -->
              <div class="sponsor sponsor-height col-xs-6 col-md-3">
                <div class="panel-body">
                  <a href = "https://www.secnix.com/" target = "_blank">
                      <img class="img-responsive" src="https://www.secnix.com/wp-content/themes/secnixwordpress/assets/images/secnix-new.svg"/>
                  </a>
                </div>
              </div>
              <!--Sponsor -->
              <div class="sponsor sponsor-height col-xs-6 col-md-3">
                <div class="panel-body">
                  <a href = "https://www.secnix.com/" target = "_blank">
                      <img class="img-responsive" src="https://www.secnix.com/wp-content/themes/secnixwordpress/assets/images/secnix-new.svg"/>
                  </a>
                </div>
              </div>
              <!--Sponsor -->
              <div class="sponsor sponsor-height col-xs-6 col-md-3">
                <div class="panel-body">
                  <a href = "https://www.secnix.com/" target = "_blank">
                      <img class="img-responsive" src="https://www.secnix.com/wp-content/themes/secnixwordpress/assets/images/secnix-new.svg"/>
                  </a>
                </div>
              </div>
              <!--Sponsor -->
              <div class="sponsor sponsor-height col-xs-6 col-md-3">
                <div class="panel-body">
                  <a href = "https://portworx.com/" target = "_blank">
                      <img class="img-responsive" src="https://openshiftgathering.com/assets/openshiftgathering/images/sponsors/portworx.png"/>
                  </a>
                </div>
              </div>
              <!--Sponsor -->
              <div class="sponsor sponsor-height col-xs-6 col-md-3">
                <div class="panel-body">
                  <a href = "https://portworx.com/" target = "_blank">
                      <img class="img-responsive" src="https://openshiftgathering.com/assets/openshiftgathering/images/sponsors/portworx.png"/>
                  </a>
                </div>
              </div>
              <!--Sponsor -->
              <div class="sponsor sponsor-height col-xs-6 col-md-3">
                <div class="panel-body">
                  <a href = "https://portworx.com/" target = "_blank">
                      <img class="img-responsive" src="https://openshiftgathering.com/assets/openshiftgathering/images/sponsors/portworx.png"/>
                  </a>
                </div>
              </div>
              <!--Sponsor -->
              <div class="sponsor sponsor-height col-xs-6 col-md-3">
                <div class="panel-body">
                  <a href = "https://portworx.com/" target = "_blank">
                      <img class="img-responsive" src="https://openshiftgathering.com/assets/openshiftgathering/images/sponsors/portworx.png"/>
                  </a>
                </div>
              </div>

        </div><!-- /.row -->
    </div><!-- /.container -->
</section>


<!-- Schedule Section ---------------------------------------------------------------------------------------------------------------->
<div id="gathering-schedule"></div>
<section class="section-gathering">
    <div class="container">
        <div class="row">
            <div class="container">
                <h3 class="text-center">Schedule</h3><br>
                <p class="text-center">The day will have a mix of keynotes, panels, ted-style talks, SIG break-out sessions, plenty of time to network over local craft beers and be continuously fuelled by local baristas.</p>
                <br>
                <p class="text-center"><strong>Click on a session title to view the video recording.</strong></p>
                <br>
                <!-- Schedule Box -->
                <div class="col-xs-12 event-box">
                  <!-- Item -->
                  <div class="row schedule-list">
                    <div class="col-xs-5 col-sm-2 text-center">8:00 a.m.</div>
                    <div class="col-xs-7 col-sm-10 schedule-list-border-left">Registration Opens - Breakfast</div>
                  </div>
                  <hr><!-- /.item-->
                  <!-- Item -->
                  <div class="row schedule-list">
                    <div class="col-xs-5 col-sm-2 text-center">9:00 a.m.</div>
                    <div class="col-xs-7 col-sm-10 schedule-list-border-left">Speaker and Poppover Example | <a href="#speaker1">Speaker 1</a> | <a href="#speaker2">Speaker 2</a> | <a href="#speaker3">Speaker 2</a></div>
                  </div>
                  <hr><!-- /.item-->
                  <!-- Item -->
                  <div class="row schedule-list">
                    <div class="col-xs-5 col-sm-2 text-center">11:00 a.m.</div>
                    <div class="col-xs-7 col-sm-10 schedule-list-border-left">Speaker and Poppover Example | <a href="#speaker1">Speaker 1</a> | <a href="#speaker2">Speaker 2</a> | <a href="#speaker3">Speaker 2</a></div>
                  </div>
                  <hr><!-- /.item-->
                  <!-- Item -->
                  <div class="row schedule-list">
                    <div class="col-xs-5 col-sm-2 text-center">13:00 p.m.</div>
                    <div class="col-xs-7 col-sm-10 schedule-list-border-left">Speaker and Poppover Example | <a href="#speaker1">Speaker 1</a> | <a href="#speaker2">Speaker 2</a> | <a href="#speaker3">Speaker 2</a></div>
                  </div>
                  <hr><!-- /.item-->
                  <!-- Item -->
                  <div class="row schedule-list">
                    <div class="col-xs-5 col-sm-2 text-center">15:00 p.m.</div>
                    <div class="col-xs-7 col-sm-10 schedule-list-border-left">Speaker and Poppover Example | <a href="#speaker1">Speaker 1</a> | <a href="#speaker2">Speaker 2</a> | <a href="#speaker3">Speaker 2</a></div>
                  </div>
                  <hr><!-- /.item-->
              </div><!-- /.schedule box <-->
          </div><!-- /.container -->
          <br><br>
          <div class="btn-event event-border buy">
            <a href="#" target="_blank">
                <p class="text-center">Purchase tickets</p>
            </a>
          </div>
          <br>
          <p class="text-center"><a href="http://openshiftgathering.com/openshiftgathering/austin" target="_blank">View the 2017 schedule from the Austin event »</a></p>
          <p class="text-center"><a href="http://openshiftgathering.com/openshiftgathering/boston" target="_blank">View the 2017 schedule from the Boston event »</a></p>
          <p class="text-center"><a href="http://openshiftgathering.com/openshiftgathering/berlin" target="_blank">View the 2017 schedule from the Berlin event »</a></p>
        </div><!-- /.row -->
    </div><!-- /.container -->
</section>

<!-- Speakers Section ---------------------------------------------------------------------------------------------------------------->
<div id="gathering-speakers"></div>
<section class="section-gathering section-gathering-secondary">
  <div class="container-fluid">
    <div class="row-fluid container text-center">
      <h3>Speakers</h3>
      <br>
      <!-- Speaker Row-->
      <div class="row-fluid inner">

        <!-- Speaker -->
        <div class="col-lg-3 col-md-6 col-sm-12" id="speaker1">
          <div class="panel-image">
            <img src="https://openshiftgathering.com/assets/openshiftgathering/images/speakers/david_duncan.jpg" alt="David Duncan" class="img-circle modal_target5 speaker-img">
          </div>
          <div class="panel-heading">
            <a  style="text-decoration:none;" href="#" data-toggle="popover" data-placement="top" data-trigger="hover" data-content="David Duncan is a Partner Solutions Architect for Amazon Web Services. David works with open source platform partners to ensure that their customers get the breadth of experience they expect in EC2.">
              <h3 class="text-center">David Duncan</h3>
              <p class="text-center">OSS Global Linux Lead<br>AWS</p>
            </a>
          </div>
        </div>
        <!-- Speaker -->
        <div class="col-lg-3 col-md-6 col-sm-12" id="speaker2">
          <div class="panel-image">
            <img src="https://openshiftgathering.com/assets/openshiftgathering/images/speakers/david_duncan.jpg" alt="David Duncan" class="img-circle modal_target5 speaker-img">
          </div>
          <div class="panel-heading">
            <a style="text-decoration:none;" href="#" data-toggle="popover" data-placement="top" data-trigger="hover" data-content="David Duncan is a Partner Solutions Architect for Amazon Web Services. David works with open source platform partners to ensure that their customers get the breadth of experience they expect in EC2.">
              <h3 class="text-center">David Duncan</h3>
              <p class="text-center">OSS Global Linux Lead<br>AWS</p>
            </a>
          </div>
        </div>
        <!-- Speaker -->
        <div class="col-lg-3 col-md-6 col-sm-12" id="speaker3">
          <div class="panel-image">
            <img src="https://openshiftgathering.com/assets/openshiftgathering/images/speakers/david_duncan.jpg" alt="David Duncan" class="img-circle modal_target5 speaker-img">
          </div>
          <div class="panel-heading">
            <a id="speaker3" style="text-decoration:none;" href="#" data-toggle="popover" data-placement="top" data-trigger="hover" data-content="David Duncan is a Partner Solutions Architect for Amazon Web Services. David works with open source platform partners to ensure that their customers get the breadth of experience they expect in EC2.">
              <h3 class="text-center">David Duncan</h3>
              <p class="text-center">OSS Global Linux Lead<br>AWS</p>
            </a>
          </div>
        </div>
        <!-- Speaker -->
        <div class="col-lg-3 col-md-6 col-sm-12" id="speaker4">
          <div class="panel-image">
            <img src="https://openshiftgathering.com/assets/openshiftgathering/images/speakers/david_duncan.jpg" alt="David Duncan" class="img-circle modal_target5 speaker-img">
          </div>
          <div class="panel-heading">
            <a style="text-decoration:none;" href="#" data-toggle="popover" data-placement="top" data-trigger="hover" data-content="David Duncan is a Partner Solutions Architect for Amazon Web Services. David works with open source platform partners to ensure that their customers get the breadth of experience they expect in EC2.">
              <h3 class="text-center">David Duncan</h3>
              <p class="text-center">OSS Global Linux Lead<br>AWS</p>
            </a>
          </div>
        </div>

      </div><!-- /.row -->
      <!-- Speaker Row-->
      <div class="row-fluid inner">

        <!-- Speaker -->
        <div class="col-lg-3 col-md-6 col-sm-12">
          <div class="panel-image">
            <img src="https://openshiftgathering.com/assets/openshiftgathering/images/speakers/david_duncan.jpg" alt="David Duncan" class="img-circle modal_target5 speaker-img">
          </div>
          <div class="panel-heading">
            <a style="text-decoration:none;" href="#" data-toggle="popover" data-placement="top" data-trigger="hover" data-content="David Duncan is a Partner Solutions Architect for Amazon Web Services. David works with open source platform partners to ensure that their customers get the breadth of experience they expect in EC2.">
              <h3 class="text-center">David Duncan</h3>
              <p class="text-center">OSS Global Linux Lead<br>AWS</p>
            </a>
          </div>
        </div>

      </div><!-- /.row -->

    </div>
  </div>
</section>

<!-- Venue Section ---------------------------------------------------------------------------------------------------------------->
<div id="gathering-venue"></div>
<section class="section-gathering text-center">
  <div class="container-fluid">
    <div class="row-fluid container">
      <h3>Venue</h3>
      <p class="text-center">January, 31, 2018 | 8:30 a.m. - 5:30 p.m.
        <br><a href="https://qeiicentre.london/getting-here/" target="_blank">QEII Centre</a>
        <br>Broad Sanctuary
        <br>Westminster, London, SW1P 3EE
        <br><br>
      </p>
      <div class="map-box">
          <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2483.7081991830178!2d-0.13121598423030167!3d51.50022207963396!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x487604c4cb112d93%3A0x39efdcc690b64ca3!2sQEII+Centre!5e0!3m2!1sen!2suk!4v1513891405406" width="100%" height="450" frameborder="0" style="border:0" allowfullscreen=""></iframe>
      </div>
    </div><!-- /.row-fluid -->
  </div><!-- /.container-fluid -->
</section>

<!-- Video Section ---------------------------------------------------------------------------------------------------------------->
<div id="gathering-venue"></div>
<section class="section-gathering section-gathering-secondary text-center">
  <div class="container-fluid">
    <div class="row-fluid container">
      <h3>View the videos</h3>

      <div class="col-md-6 col-sm-12 video video-no-category">
        <h4 class="title" style="">Monitoring OpenShift &amp; Detecting Performance Anomalies with CoScale</h4>
        <div class="video-thumbnail" id="HqKgW7vpF_A" style="background-image: url('https://img.youtube.com/vi/HqKgW7vpF_A/0.jpg');">
          <div class="video-btn">Watch Here&nbsp;&nbsp;►</div>
        </div>
        <div class="featuring">
          <div class="featuring-title">Featuring:&nbsp;</div>
          <div class="featuring-participants">
            <a href="#speaker1">Peter&nbsp;Arijs</a> and&nbsp;Samuel&nbsp;Vandamme
          </div>
        </div>
        <p class="description">
          CoScale’s Peter Ariji and Samuel Vandamme will demonstrate how to monitor your OpenShift environment with CoScale’s container monitoring platform.
        </p>
      </div>

      <div class="col-md-6 col-sm-12 video video-no-category">
        <h4 class="title" style="">Monitoring OpenShift &amp; Detecting Performance Anomalies with CoScale</h4>
        <div class="video-thumbnail" id="HqKgW7vpF_A" style="background-image: url('https://img.youtube.com/vi/HqKgW7vpF_A/0.jpg');">
          <div class="video-btn">Watch Here&nbsp;&nbsp;►</div>
        </div>
        <div class="featuring">
          <div class="featuring-title">Featuring:&nbsp;</div>
          <div class="featuring-participants">
            Peter&nbsp;Arijs and&nbsp;Samuel&nbsp;Vandamme
          </div>
        </div>
        <p class="description">
          CoScale’s Peter Ariji and Samuel Vandamme will demonstrate how to monitor your OpenShift environment with CoScale’s container monitoring platform.
        </p>
      </div>


    </div><!-- /.row-fluid -->
  </div><!-- /.container-fluid -->
</section>

<% content_for :javascript do %>
// Initialize popover component
$(function () {
  $('[data-toggle="popover"]').popover()
});

$('.video-thumbnail').click(function(){
  $(this).css('padding', '0');
  var ytvideo = '<div class="video-wrapper"><iframe src="https://www.youtube.com/embed/' +  $(this).attr('id') +  '?rel=0&showinfo=0&autoplay=1" frameborder="0" allowfullscreen></iframe></div>';
  $(this).html(ytvideo);
});

$('.nav-tabs a').on('shown.bs.tab', function(event){
<!-- the active class is assigned to the class only after fully shown, the .click handler won't work properly here -->
  $('.videos.active>.video').matchHeight();
  $('.videos.active>.video>.title').matchHeight();
});
<% end %>
