---
title: OpenShift Commons
description:  Where users, partners, customers, and contributors come together to collaborate and work together on OpenShift.
---

<% content_for :header do %>
<h1 class="animated fadeInDown delay">OpenShift Commons</h1>
<p class="animated fadeInUp delay">
  Where users, partners, customers, and contributors come together to collaborate and work together on OpenShift.
</p>
<% end %>
<section class="content_info" id="join">
  <div class="info_title wow fadeInDown" id="try">
    <i class="fa fa-users left"></i>
    <div class="vertical_line">
      <div class="circle_bottom"></div>
    </div>
    <div class="info_vertical animated">
      <h1>OpenShift <span>Commons</span></h1>
    </div>
    <div class="padding_bottom">
      <div class="container wow fadeInUp animated">
        <div class="row">
          <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 lead">
            <p class="text-left">Commons builds connections and collaboration across OpenShift communities, projects and stakeholders. In doing so we'll enable the success of customers, users, partners, and contributors as we deepen our knowledge and experiences together.</p>
            <br>
            <p class="text-left">Our goals go beyond code contributions. Commons is a place for companies using OpenShift to accelerate its success and adoption. To do this we'll act as resources for each other, share best practices and provide a forum for peer-to-peer communication.</p>
          </div>
          <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
            <%= partial "forms/join_commons" %>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="content_info" id="interests">
  <div class="info_resalt borders">
    <div class="row info_title">
      <div class="info_vertical">
        <h1>
          Find Your
          <span>Commonality</span>
        </h1>
        <p class="text-left">Being a part of an inclusive, open, and inviting community such as Commons means that you're part of the conversation. Our Special Interest Groups (SIG) are designed so that you can find everything you need in one place around a central topic.</p>
        <div class="row">
          <div class="paddings">
            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 wow fadeInLeft">
              <h2>
                <a href="/sig/Operations.html" title="Operations">OpenShift Ops</a>
                <p>Discuss, develop and disseminate best practices for administrating, managing and operating OpenShift</p>
              </h2>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 wow fadeInRight">
              <h2>
                <a href="/sig/Openshiftv3.html" title="OpenShift v3">OpenShift v3</a>
                <p>OpenShift v3 Migration Upgrade Roadmap Special Interest Group</p>
              </h2>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="paddings">
            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 wow fadeInLeft">
              <h2>
                <a href="/sig/OpenshiftEDU.html" title="OpenShift .EDU">OpenShift .EDU</a>
                <p>Discuss, develop and disseminate best practices for administrating, managing and operating OpenShift in .EDU setting</p>
              </h2>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 wow fadeInRight">
              <h2>
                <a href="/sig/OpenshiftImageBuilders.html" title="OpenShift Image Builders">OpenShift Image Builders</a>
                <p>Discuss, develop and disseminate best practices for building and maintaining Images for use with OpenShift</p>
              </h2>
            </div>
          </div>
        </div>
        <div class="row ">
          <div class="paddings">
            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 wow fadeInLeft">
              <h2>
                <a href="/sig/OpenshiftBigData.html" title="OpenShift Big Data">OpenShift Big Data</a>
                <p>Discuss, develop and disseminate best practices for working with Big Data on OpenShift</p>
              </h2>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 wow fadeInRight">
              <h2>
                <a href="/sig/Openshift.NET.html" title="OpenShift .NET">OpenShift .NET</a>
                <p>Discuss, develop and disseminate best practices for developing and deploying .NET Apps and SQL Server on OpenShift</p>
              </h2>
            </div>
          </div>
        </div>
        <div class="row ">
          <div class="paddings">
            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 wow fadeInLeft">
              <h2>
                <a href="/sig/OpenshiftOpenstack.html" title="OpenShift on OpenStack">OpenShift on OpenStack</a>
                <p>Discuss, develop and disseminate best practices for deploying and managing OpenShift on OpenStack</p>
              </h2>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 wow fadeInRight">
              <h2>
                <a href="/sig/OpenshiftGOV.html" title="OpenShift .GOV">OpenShift .GOV</a>
                <p>Discuss, develop and disseminate best practices for deploying and managing OpenShift in .GOV</p>
              </h2>
            </div>
          </div>
        </div>
        <div class="row ">
          <div class="paddings">
            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 wow fadeInLeft">
              <h2>
                <a href="/sig/OpenshiftAutomotive.html" title="OpenShift in Automotive">OpenShift in Automotive</a>
                <p>Discuss, develop and disseminate best practices for deploying and managing OpenShift in Automotive Industry</p>
              </h2>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 wow fadeInRight">
              <h2>
                <a href="/sig/OpenshiftMobile.html" title="Mobile on OpenShift">Mobile on OpenShift</a>
                <p>Discuss, develop and disseminate best practices for deploying and managing Mobile applications on OpenShift</p>
              </h2>
            </div>
          </div>
        </div>
      </div>
      <i class="fa fa-comments-o right"></i>
    </div>
  </div>
</section>

<section class="content_info">
  <div class="vertical_line">
    <div class="circle_bottom"></div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-12 simple-title">
        <h2>
          Supporting
          <span>Quotes</span>
        </h2>
      </div>
      <div class="col-md-12" id="carousel-team-members">
        <div class="item-team">
          <img alt="Twistlock" class="logo" src="img/commons-logos/twistlock.png">
          <div class="col-md-10">
            <blockquote>
              The combination of OpenShift's enterprise grade reliability, OpenShift Commons' active open source community and Red Hat's technical support makes OpenShift an especially good choice for the customers we work with...
            </blockquote>
          </div>
          <cite>
            <div class="text-right">
              <a href="/quotes.html#Twistlock">Read More</a>
            </div>
          </cite>
        </div>
        <div class="item-team">
          <img alt="Getupcloud" class="logo" src="img/commons-logos/getupcloud.png">
          <div class="col-md-10">
            <blockquote>
              OpenShift is critical to our business and the OpenShift Commons has given us a great opportunity to connect directly with other OpenShift ecosystem participants...
            </blockquote>
          </div>
          <cite>
            <div class="text-right">
              <a href="/quotes.html#Getupcloud">Read More</a>
            </div>
          </cite>
        </div>
        <div class="item-team">
          <img alt="Amadeus" class="logo" src="img/commons-logos/Amadeus_Logo.svg">
          <div class="col-md-10">
            <blockquote>
              By participating in the OpenShift Commons, we are able to easily and proactively communicate with the community...
            </blockquote>
          </div>
          <cite>
            <div class="text-right">
              <a href="/quotes.html#Amadeus">Read More</a>
            </div>
          </cite>
        </div>
        <div class="item-team">
          <img alt="IDC" class="logo" src="img/commons-logos/idc_logo.png">
          <div class="col-md-10">
            <blockquote>
              OpenShift Commons is a distinctive way of building a strong and open network of users, partners and open source community members...
            </blockquote>
          </div>
          <cite>
            <div class="text-right">
              <a href="/quotes.html#IDC">Read More</a>
            </div>
          </cite>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="content_info" id="colleagues">
  <div class="info_resalt borders">
    <div class="info_vertical">
      <h1>
        Commons
        <span>Participants</span>
      </h1>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <%= partial "participants_carousel", :object => data.participants.participants %>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <a class="list-link" href="/participants.html">View the Full Participant List (<%= data.participants.participants.count %> members)</a>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="content_info" id="join">
  <div class="info_title wow fadeInUp" id="try">
    <i class="fa fa-compass left"></i>
    <div class="vertical_line">
      <div class="circle_bottom"></div>
    </div>
    <div class="info_vertical animated">
      <h1>
        Become a part of something
        <span>bigger</span>
      </h1>
      <p>OpenShift Commons is open to all community participants: users, operators, enterprises, non-profits, educational institutions, partners, and service providers as well as other open source technology initiatives utilized under the hood or to extend the OpenShift platform.</p>
      <br>
      <ul>
        <li class="text-left">If you are an OpenShift Online or an OpenShift Enterprise  customer or have deployed OpenShift on premise or on a public cloud.</li>
        <li class="text-left">If you have contributed to the OpenShift Origin project and want to connect with your peers and end users.</li>
        <li class="text-left">If you simply want to stay up-to-date on the roadmap and best practices for using, deploying and operating OpenShift.</li>
      </ul>
      <div class="text-center">
        <h3>
          Then OpenShift Commons is the right place for you.
        </h3>
        <h4>
          <a href="#join">Ready to Join?</a>
        </h4>
      </div>
    </div>
  </div>
</section>
