---
title: OpenShift Commons
description:  Where users, partners, customers, and contributors come together to collaborate and work together on OpenShift.
---

<% content_for :header do %>
<h1 class="animated fadeInDown delay">OpenShift Commons</h1>
<p class="animated fadeInUp delay">
  Where users, partners, customers, and contributors come together to collaborate and work together on OpenShift.
</p>
<% end %>
<section class="content_info" id="join">
  <div class="info_title wow fadeInDown" id="try">
    <i class="fa fa-users left"></i>
    <div class="vertical_line">
      <div class="circle_bottom"></div>
    </div>
    <div class="info_vertical animated">
      <h1>OpenShift <span>Commons</span></h1>
    </div>
    <div class="padding_bottom">
      <div class="container wow fadeInUp animated">
        <div class="row">
          <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 lead">
            <p class="text-left">Commons builds connections and collaboration across OpenShift communities, projects and stakeholders. In doing so we'll enable the success of customers, users, partners, and contributors as we deepen our knowledge and experiences together.</p>
            <br>
            <p class="text-left">Our goals go beyond code contributions. Commons is a place for companies using OpenShift to accelerate its success and adoption. To do this we'll act as resources for each other, share best practices and provide a forum for peer-to-peer communication.</p>
          </div>
          <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
            <%= partial "forms/join_commons" %>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="content_info" id="upcoming">
  <hr>
  <div class="info_title wow fadeInDown">
    <i class="fa fa-calendar left"></i>
    <div class="info_vertical">
      <h1>Upcoming <span>Briefings</span></h1>
    </div>
    <div class="padding_bottom">
      <div class="container wow fadeInUp animated">
        <div class="row">
          <div class="col-md-8 col-md-offset-2">
            <script class="ai1ec-widget-placeholder" data-widget="ai1ec_superwidget" data-action="agenda" data-events_limit="5">
              (function(){var d=document,s=d.createElement('script'), i='ai1ec-script';
              if(d.getElementById(i))return;
              s.async=1;
              s.id=i;
              s.src='https://live-timely-objzoywz.time.ly/?ai1ec_js_widget';
              d.getElementsByTagName('head')[0].appendChild(s);})();
            </script>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12 text-center">
            <p class="small"><strong>All times listed are in Pacific Standard Time.</strong></p>
          </div>
          <div class="col-md-4 col-md-offset-4 col-xs-10 col-xs-offset-1 text-center more-btn" id="more-events-btn">
            <a class="btn btn-primary" href="events.html">More Briefings&nbsp;<i class="fa fa-arrow-right" aria-hidden="true"></i></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>



<section class="content_info" id="blog">
  <div class="info_resalt no-bottom">
    <div class="info_vertical">
      <h1>
        OpenShift Commons
        <span>in the News</span>
      </h1>
    </div>
    <div class="container wow fadeInUp padding_bottom">
      <div class="row-fluid">
        <div class="col-md-8 col-md-offset-2 col-xs-12" id="blog-feed-wrapper">
          <div class="row">
            <div class="col-md-12">
              <h3><i class="fa fa-newspaper-o" aria-hidden="true"></i>&nbsp;Latest blog posts</h3>
            </div>
          </div>
          <%= partial "commons_articles" %>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4 col-md-offset-4 col-xs-10 col-xs-offset-1 text-center more-btn" id="blog-btn" style="margin-top: 10px;">
          <a class="btn btn-primary" href="https://blog.openshift.com/" target="_blank">OpenShift Blog&nbsp;&nbsp;<i class="fa fa-external-link" aria-hidden="true"></i></a>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="content_info">
  <div class="info_resalt borders">
    <div class="info_vertical">
      <h1>
        <span>Testimonials</span>
      </h1>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-md-12" id="carousel-team-members">
          <div class="item-team">
            <img alt="Getupcloud" class="logo" src="img/commons-logos/getupcloud.png">
            <div class="col-md-10">
              <blockquote>
                OpenShift is critical to our business and the OpenShift Commons has given us a great opportunity to connect directly with other OpenShift ecosystem participants...
              </blockquote>
            </div>
            <cite>
              <div class="text-right">
                <a href="/testimonials.html#Getupcloud">Read More</a>
              </div>
            </cite>
          </div>
          <div class="item-team">
            <img alt="Amadeus" class="logo" src="img/commons-logos/Amadeus_Logo.svg">
            <div class="col-md-10">
              <blockquote>
                By participating in the OpenShift Commons, we are able to easily and proactively communicate with the community...
              </blockquote>
            </div>
            <cite>
              <div class="text-right">
                <a href="/testimonials.html#Amadeus">Read More</a>
              </div>
            </cite>
          </div>
          <div class="item-team">
            <img alt="IDC" class="logo" src="img/commons-logos/idc_logo.png">
            <div class="col-md-10">
              <blockquote>
                OpenShift Commons is a distinctive way of building a strong and open network of users, partners and open source community members...
              </blockquote>
            </div>
            <cite>
              <div class="text-right">
                <a href="/testimonials.html#IDC">Read More</a>
              </div>
            </cite>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="content_info" id="colleagues">
  <div class="vertical_line">
    <div class="circle_bottom"></div>
  </div>
  <div class="container padding_bottom">
    <div class="row">
      <div class="col-md-12 simple-title">
        <h2>
          Commons
          <span>Participants</span>
        </h2>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <%= partial "participants_carousel", :object => data.participants.participants %>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <a class="list-link" href="/participants.html">View the Full Participant List (<%= data.participants.participants.count %> members)</a>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="content_info" id="interests">
  <div class="info_resalt borders">
    <div class="row info_title">
      <div class="info_vertical">
        <h1>
          Find Your
          <span>Commonality</span>
        </h1>
          <p class="text-left">Being a part of an inclusive, open, and inviting community such as Commons means that you're part of the conversation. Our Special Interest Groups (SIG) are designed so that you can find everything you need in one place around a central topic.</p>
          <div class="row">
            <div class="paddings">
              <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 wow fadeInLeft">
                <h2>
                  <a href="/sig/AIOps.html" title="Operations">OpenShift AIOps</a>
                  <p>Discuss, develop and disseminate best practices for administrating, managing and operating OpenShift leveraging AI and ML tools and techniques</p>
                </h2>
              </div>
              <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 wow fadeInRight">
                <h2>
                  <a href="/sig/OpenshiftMachineLearning.html" title="OpenShift v3">Machine Learning on OpenShift</a>
                  <p>Discuss, develop and disseminate best practices for deploying and Machine Learning applications and workloads on OpenShift</p>
                </h2>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="paddings">
              <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 wow fadeInLeft">
                <h2>
                  <a href="/sig/OpenshiftEDU.html" title="OpenShift .EDU">OpenShift .EDU</a>
                  <p>Discuss, develop and disseminate best practices for administrating, managing and operating OpenShift in .EDU setting</p>
                </h2>
              </div>
              <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 wow fadeInRight">
                <h2>
                  <a href="/sig/OpenshiftImageBuilders.html" title="OpenShift Image Builders">OpenShift Image Builders</a>
                  <p>Discuss, develop and disseminate best practices for building and maintaining Images for use with OpenShift</p>
                </h2>
              </div>
            </div>
          </div>
          <div class="row ">
            <div class="paddings">
              <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 wow fadeInLeft">
                <h2>
                  <a href="/sig/OpenShiftEnergy.html" title="OpenShift Energy">OpenShift Energy</a>
                  <p>Discuss, develop and disseminate best practices to support energy companies as they modernize their IT infrastructures on OpenShift</p>
                </h2>
              </div>
              <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 wow fadeInRight">
                <h2>
                  <a href="/sig/Openshift.NET.html" title="OpenShift .NET">OpenShift .NET</a>
                  <p>Discuss, develop and disseminate best practices for developing and deploying .NET Apps and SQL Server on OpenShift</p>
                </h2>
              </div>
            </div>
          </div>
          <div class="row ">
            <div class="paddings">
              <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 wow fadeInLeft">
                <h2>
                  <a href="/sig/OpenshiftOpenstack.html" title="OpenShift on OpenStack">OpenShift on OpenStack</a>
                  <p>Discuss, develop and disseminate best practices for deploying and managing OpenShift on OpenStack</p>
                </h2>
              </div>
              <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 wow fadeInRight">
                <h2>
                  <a href="/sig/OpenshiftGOV.html" title="OpenShift .GOV">OpenShift .GOV</a>
                  <p>Discuss, develop and disseminate best practices for deploying and managing OpenShift in .GOV</p>
                </h2>
              </div>
            </div>
          </div>
          <div class="row ">
            <div class="paddings">
              <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 wow fadeInLeft">
                <h2>
                  <a href="/sig/OpenshiftAutomotive.html" title="OpenShift in Automotive">OpenShift in Automotive</a>
                  <p>Discuss, develop and disseminate best practices for deploying and managing OpenShift in Automotive Industry</p>
                </h2>
              </div>
              <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 wow fadeInRight">
                <h2>
                  <a href="/sig/OpenshiftMobile.html" title="Mobile on OpenShift">Mobile on OpenShift</a>
                  <p>Discuss, develop and disseminate best practices for deploying and managing Mobile applications on OpenShift</p>
                </h2>
              </div>
            </div>
          </div>
          <div class="row ">
            <div class="paddings">
              <div class="col-xs-12 col-sm-6 col-sm-offset-3 wow fadeInRight">
                <h2>
                  <a href="/sig/OpenshiftOperators.html" title="Operator Framework">Operator Framework</a>
                  <p>
                    The Operator Framework is an open source toolkit to manage Kubernetes native applications, called Operators,
                    in an effective, automated, and scalable way. This SIG will discuss, develop and disseminate best practices
                    for building and managing Operators.
                  </p>
                </h2>
              </div>
            </div>
          </div>
      </div>
      <i class="fa fa-comments-o right"></i>
    </div>
  </div>
</section>


<section class="content_info" id="join">
  <div class="info_title wow fadeInUp" id="try">
    <i class="fa fa-compass left"></i>
    <div class="vertical_line">
      <div class="circle_bottom"></div>
    </div>
    <div class="info_vertical animated">
      <h1>
        Become a part of something
        <span>bigger</span>
      </h1>
        <p>OpenShift Commons is open to all community participants: users, operators, enterprises, non-profits, educational institutions, partners, and service providers as well as other open source technology initiatives utilized under the hood or to extend the OpenShift platform.</p>
        <br>
        <ul>
          <li class="text-left">If you are an OpenShift Online or an OpenShift Enterprise  customer or have deployed OpenShift on premise or on a public cloud.</li>
          <li class="text-left">If you have contributed to the OpenShift Origin project and want to connect with your peers and end users.</li>
          <li class="text-left">If you simply want to stay up-to-date on the roadmap and best practices for using, deploying and operating OpenShift.</li>
        </ul>
        <div class="text-center">
          <h3>
            Then OpenShift Commons is the right place for you.
          </h3>
        </div>
        <div class="row">
          <div class="col-md-4 col-md-offset-4 col-xs-10 col-xs-offset-1 text-center more-btn" id="blog-btn">
            <a class="btn btn-primary" href="#join">Ready to Join?</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
