---
title: OpenShift Commons Participants
description:  A community of collaborators working together.
---

<% content_for :header do %>
<h1 class="animated fadeInDown delay">
  OpenShift Commons Participants
</h1>
<p class="animated fadeInUp delay">
  A community of collaborators working together.
</p>
<% end %>

<div class="crumbs border_bottom">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <ul>
          <li>
            <a href="/index.html">Home</a>
          </li>
          <li>/</li>
          <li>
            <a href="/participants.html">OpenShift Commons Participants</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>

<div class="row info_title wow animated fadeInUp">
  <div class="vertical_line">
    <div class="circle_bottom"></div>
  </div>
  <div class="info_vertical">
    <h1>
      OpenShift Commons
      <span>Participants</span>
    </h1>
  </div>
</div>

<!-- Search Participants -->
<section class="content_info">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="search">
          <!--<input id="participant-search" placeholder="Search participants">-->
          <input type="text" id="quicksearch" placeholder="Search participants" />
        </div>
      </div>
    </div>
    <br>

<!-- List Participants -->
<div class="container-fluid">
  <div class="grid"><!-- add extra container element for Masonry -->
    <div class="grid-sizer col-lg-4 col-xs-6"></div><!-- add sizing element for columnWidth -->
      <%= partial "participants_list", :object => data.participants.participants.sort_by { | participant | participant[:name].downcase } %>
  </div>
</div>


</div>
</section>
