---
title: Supporting Quotes
description: Supporting quotes from OpenShift Commons participants.
---

<% content_for :header do %>
<h1 class="animated fadeInDown delay">
  OpenShift Commons
</h1>
<p class="animated fadeInUp delay">
  Where partners, customers, and contributors come together to collaborate and work together using OpenShift.
</p>
<% end %>

<div class="crumbs border_bottom">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <ul>
          <li>
            <a href="/index.html">Home</a>
          </li>
          <li>/</li>
          <li>
            <a href="/testimonials.html">Testimonials</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>

<section class="content_info">
  <div class="paddings">
    <div class="container wow fadeInUp">
      <div class="row">
        <div class="col-md-12">
          <section class="content_info" id="Twistlock">
            <div class="col-md-2">
              <img alt="" class="img-responsive" src="/img/commons-logos/twistlock.png">
            </div>
            <p>
              "At Twistlock, we’ve helped secure some of the world’s largest and earliest adopters of containers. Our customers span six continents and nearly every industry, but one thing we consistently see is that companies that run mission critical apps in containers are choosing OpenShift as their container platform of choice.
              <br /><br />
              The combination of OpenShift's enterprise grade reliability, OpenShift Commons' active open source community and Red Hat's technical support makes OpenShift an especially good choice for the customers we work with in healthcare, financial services, and government. Not only does Twistlock have great support for OpenShift as a platform, but we are proud to have contributed security and authorizations to the OpenShift open source project."
            </p>
            <div class="col-md-5 col-md-offset-7">
              <div class="text-right">
                <p>- John Morello, Twistlock CTO</p>
              </div>
            </div>
          </section>
          <section class="content_info" id="Cisco">
            <div class="col-md-2">
              <img alt="" class="img-responsive" src="/img/commons-logos/Cisco.svg">
            </div>
            <p>
              "Enterprise CIOs consistently rank DevOps enablement as one of their highest priorities. With Openshift Commons, Red Hat has remained true to their opensource heritage and proven that Openshift enables open source application life-cycle Managerment in a powerful self-service DevOps enablement platform. Openshift aligns with the Cisco Intercloud vision of application-centric enablement and portability across public and private clouds. We're pleased to be contribute to the OpenShift Commons as it enables Cisco to collaborate directly with the entire OpenShift ecosystem."
            </p>
            <div class="col-md-5 col-md-offset-7">
              <div class="text-right">
                <p>- Ken Owens Chief Technical Officer, Cisco Cloud Services</p>
              </div>
            </div>
          </section>
          <section class="content_info" id="Getupcloud">
            <div class="col-md-2">
              <img alt="" class="img-responsive" src="/img/commons-logos/getupcloud.png">
            </div>
            <p>
              "OpenShift is critical to our business and the OpenShift Commons has given us a great opportunity to connect directly with other OpenShift ecosystem participants. Getup has been involved with OpenShift for more than two years, built a company with this open source project and having the opportunity to collaborate and work with them has been a great experience. We believe OpenShift Commons is a great opportunity to work with other OpenShift members, a channel to get feedback and share knowledge and experiences about the market developments and new releases."
            </p>
            <div class="col-md-5 col-md-offset-7">
              <div class="text-right">
                <p>- Diogo Goebel, CEO Getup Cloud</p>
              </div>
            </div>
          </section>
          <section class="content_info" id="Amadeus">
            <div class="col-md-2">
              <img alt="" class="img-responsive" src="/img/commons-logos/Amadeus_Logo.svg">
            </div>
            <p>
              "By participating in the OpenShift Commons, we are able to easily and proactively communicate with the community, to jointly build a powerful solution that can benefit all users. With both the openness of the virtual meetings and code on GitHub, we are able to commit resources to areas in which we have expertise, while liaising with other participants to prioritize the common goal – a stable, secure and fully open-source solution.."
            </p>
            <div class="col-md-5 col-md-offset-7">
              <div class="text-right">
                <p>- Dietmar Fauser VP, Architecture, Quality & Governance</p>
              </div>
            </div>
          </section>
          <section class="content_info" id="IDC">
            <div class="col-md-2">
              <img alt="" class="img-responsive" src="/img/commons-logos/idc_logo.png">
            </div>
            <p>
              “OpenShift already provides robust choices for developers exploring enterprise and community PaaS. OpenShift Commons is a distinctive way of building a strong and open network of users, partners and open source community members that will help Red Hat add to OpenShift's maturity and drive future PaaS innovation while supporting customer adoption.”
              <div class="col-md-5 col-md-offset-7">
                <div class="text-right"></div>
                <p>- Larry Carvalho, PaaS Research Manager, IDC</p>
              </div>
            </p>
          </section>
          <section class="content_info" id="IDC">
            <div class="col-md-2">
              <img alt="" class="img-responsive" src="/img/commons-logos/RH_OpenShift_Logo_RGB_Black.png">
            </div>
            <p>
              “The OpenShift user and partner ecosystems are incredibly vibrant, as are the open source technology communities that serve as the foundation for OpenShift and the rest of Red Hat’s product line. What we heard from customers,partners, and these communities is that they wanted a truly open community where all of these groups can intersect and help drive the future of PaaS innovation, and Red Hat is proud to facilitate development of a community to foster this broad industry collaboration.”
              <div class="col-md-5 col-md-offset-7">
                <div class="text-right"></div>
                <p>- Ashesh Badani, vice president and general manager, OpenShift, Red Hat</p>
              </div>
            </p>
          </section>
        </div>
      </div>
    </div>
  </div>
</section>
